<!-- 公共meta -->
<link rel="canonical" href="index.html" />
<meta name="applicable-device" content="mobile" />
<meta name="applicable-device" content="mobile" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no, email=no" />
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="HandheldFriendly" content="true" />
<meta name="MobileOptimized" content="320" />
<meta name="screen-orientation" content="portrait" />
<meta name="x5-orientation" content="portrait" />
<meta name="full-screen" content="yes" />
<meta name="x5-fullscreen" content="true" />
<meta name="browsermode" content="application" />
<meta name="x5-page-mode" content="app" />
<meta name="msapplication-tap-highlight" content="no" />

<link href="/assets/css/mobile/main.css?v={$Think.config.site.version}" rel="stylesheet" type="text/css" />
<link href="/assets/css/mobile/hn.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/mobile/swiper.min.css" rel="stylesheet" type="text/css" />
<script src="/assets/js/frontend/mobile/jquery-1.7.2.min.js" type="text/javascript"></script>
 
<script src="/assets/js/frontend/mobile/touchslide.js" type="text/javascript"></script>
<script src="/assets/js/frontend/mobile/select.js" type="text/javascript"></script>  
<script src="/assets/js/frontend/index/vue.min.js" type="text/javascript"></script> 
<script src="/assets/js/frontend/mobile/base.js?v={$Think.config.site.version}" type="text/javascript"></script>
<title>{$Think.config.site.name}_房产网站|带您品味房产魅力</title>
<meta name="keywords" content="房产网,房产,阅房网,房地产" />
<meta name="description" content="阅房网-房产网站|带您品味房产魅力" />
<link rel="shortcut icon" href="__CDN__/assets/img/favicon.ico" /> 
  
<!-- housedetail -->
<!-- <script src="/assets/js/frontend/mobile/stickup.js" type="text/javascript"></script> -->
 
 
 