<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div class="commonsearch-table">
                    <form  role="form" class="form-horizontal form-commonsearch" method="post">
                        <div class="row">

                            <div class="form-group col-xs-12 col-lg-3">
                                <label for="area_id" class="control-label col-xs-3">所在地区</label>
                                <div class="col-xs-9">
                                    <input type="hidden" id="cityid">
                                    <input id='kp_city' data-toggle="city-picker" id="city" type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-2 col-lg-2">
                                <div class="col-xs-12">
                                    <select id="lm" data-rule="required" class="form-control">

                                        <option value="-1" {in name="-1" value="-1"}selected{/in}>选择栏目</option>
                                        {foreach name="lbList" item="vo"}
                                        <option value="{$vo['id']}">{$vo['KP_Name']}</option>
                                        {/foreach} 
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-lg-2">
                                <div class="col-xs-12 col-xs-12">
                                     <input type="text" id="keyword" class="form-control" placeholder="标题/楼盘名称/内容">
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-lg-2">
                                <div class="col-sm-8">
                                    <button type="submit" class="btn btn-success"><i class="fa fa-search"></i> 查找</button>
                                    <button type="reset" class="btn btn-default">重置</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12" >
                                        <div class="checkbox">
                                        <label ><input id="flag1" type="checkbox" /> 头条</label> 
                                        <label ><input id="flag2" type="checkbox" /> 推荐</label> 
                                        <label ><input id="flag3" type="checkbox" /> 幻灯片</label>
                                        <!-- <label ><input id="flag4" type="checkbox" /> 有图</label>  -->
                                        </div>

                                    </div>
                    </form>
                    </div>
                    <div id="toolbar" class="toolbar">
                        <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
                        <a href="javascript:;" class="btn btn-success btn-add {:$auth->check('zixun/news/add')?'':'hide'}" title="{:__('Add')}" ><i class="fa fa-plus"></i> {:__('Add')}</a>
                        <a href="javascript:;" class="btn btn-success btn-edit btn-disabled disabled {:$auth->check('zixun/news/edit')?'':'hide'}" title="{:__('Edit')}" ><i class="fa fa-pencil"></i> {:__('Edit')}</a>
                        <a href="javascript:;" class="btn btn-danger btn-del btn-disabled disabled {:$auth->check('zixun/news/del')?'':'hide'}" title="{:__('Delete')}" ><i class="fa fa-trash"></i> {:__('Delete')}</a>
                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover table-nowrap"
                           data-operate-edit="{:$auth->check('zixun/news/edit')}" 
                           data-operate-del="{:$auth->check('zixun/news/del')}" 
                           width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
