<div class="panel panel-default panel-intro">
    {:build_heading()}
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="javascript:;" id="0" class="btn btn-success fmenu  " title="{:__('Flagmenu0')}"> {:__('Flagmenu0')}</a>
<a href="javascript:;" id="1" class="btn btn-success fmenu  " title="{:__('Flagmenu1')}"> {:__('Flagmenu1')}</a>
<a href="javascript:;" id="2" class="btn btn-success fmenu  " title="{:__('Flagmenu2')}"> {:__('Flagmenu2')}</a>
<a href="javascript:;" id="3" class="btn btn-success fmenu  " title="{:__('Flagmenu3')}"> {:__('Flagmenu3')}</a>
<a href="javascript:;" id="4" class="btn btn-success fmenu  " title="{:__('Flagmenu4')}"> {:__('Flagmenu4')}</a>
<a href="javascript:;" id="5" class="btn btn-success fmenu  " title="{:__('Flagmenu5')}"> {:__('Flagmenu5')}</a>
<a href="javascript:;" id="6" class="btn btn-success fmenu  " title="{:__('Flagmenu6')}"> {:__('Flagmenu6')}</a>
<a href="javascript:;" id="8" class="btn btn-success fmenu  " title="{:__('Flagmenu7')}"> {:__('Flagmenu7')}</a>
<a href="javascript:;" id="9" class="btn btn-success fmenu  " title="{:__('Flagmenu8')}"> {:__('Flagmenu8')}</a>
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                     <!-- 搜索框开始 -->
                            <div class="commonsearch-table">
                            <form  role="form" class="form-horizontal form-commonsearch" method="post">
                                <div class="row">
                                    <div class="form-group col-xs-12 col-lg-3">
                                        <label for="area_id" class="control-label col-xs-3">所在地区</label>
                                        <div class="col-xs-9">
                                            <input type="hidden" id="cityid">
                                            <input id='kp_city' data-toggle="city-picker" id="city" type="text" class="form-control" >
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                        <table><tr><td>
                                        </td><td>
                                        </td><td>&nbsp;</td><td>
                                            <input id="keywords" class="form-control" type="text" value="" placeholder="标题...." style="width: 250px">  
                                            <input id="KP_TypeSession" class="form-control" type="text" value="0" style="display:none;width: 50px"> 
                                        </td><td>&nbsp;</td><td>
                                             <button type="submit" class="btn btn-success"><i class="fa fa-search"></i> 查找</button>
                                            
                                        </td><td>&nbsp;</td><td>
                                            
                                            <button type="reset" class="btn btn-default">撤销</button>
                                        </td></tr></table>

                                      
                                        
                                    </div>
                                   
                                </div>
         
                            </form>
                            </div>
                        <!-- 搜索框结束 -->
                    <div id="toolbar" class="toolbar">
                        <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
                        <a href="javascript:;" class="btn btn-success btn-add {:$auth->check('advert/actad/add')?'':'hide'}" title="{:__('Add')}" ><i class="fa fa-plus"></i> {:__('Add')}</a>
                        <a href="javascript:;" class="btn btn-success btn-edit btn-disabled disabled {:$auth->check('advert/actad/edit')?'':'hide'}" title="{:__('Edit')}" ><i class="fa fa-pencil"></i> {:__('Edit')}</a>
                        <a href="javascript:;" class="btn btn-danger btn-del btn-disabled disabled {:$auth->check('advert/actad/del')?'':'hide'}" title="{:__('Delete')}" ><i class="fa fa-trash"></i> {:__('Delete')}</a>
                        

                        
                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover table-nowrap"
                           data-operate-edit="{:$auth->check('advert/actad/edit')}" 
                           data-operate-del="{:$auth->check('advert/actad/del')}" 
                           width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
