<!doctype html>
<html lang="{$config.language}">
    <head>
         <!-- 加载样式及META信息 -->
        {include file="common/meta" /}
        {include file="common/meta2" /}
 
    </head>
    <body>
 

            <!-- 头部区域 -->
            
                {include file='common/head' /}
                {include file='common/head2' /}

            <!-- 主体内容区域 -->            
            
                {__CONTENT__}
            


            <!-- 底部链接,默认隐藏 -->
             
                {include file="common/foot" /}
            

            
      

        <!-- 加载JS脚本 -->
        {include file="common/script" /}
    </body>
</html>

        

