<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Kp_type')}:</label>
        <div class="col-xs-12 col-sm-4">
            <select id="tiaojian" name="row[KP_Type]" data-rule="required" class="form-control">
                <option {in name="0" value="$row.KP_Type"}selected{/in}  value="0">住宅类型</option>
                <option {in name="1" value="$row.KP_Type"}selected{/in} value="1">特色类型</option>
                <option {in name="2" value="$row.KP_Type"}selected{/in} value="2">价格范围</option>
                <option {in name="3" value="$row.KP_Type"}selected{/in} value="3">建筑类型</option>
                <option {in name="4" value="$row.KP_Type"}selected{/in} value="4">户型类型</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Kp_name')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input type="text" id="c-KP_Name" class="form-control "  name="row[KP_Name]" value="{$row.KP_Name}">
        </div>
    </div>
    {if condition='$row.KP_Type==2||$row.KP_Type==4'}
    <div class="form-group KP_Content">
        <label class="control-label col-xs-12 col-sm-2">对应值:</label>
        <div class="col-xs-12 col-sm-4">
            <input type="text" id="c-KP_Content" class="form-control "  name="row[KP_Content]" value="{$row.KP_Content}">
        </div>
    </div>
    {/if}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Kp_adduser')}:</label>
        <div class="col-xs-12 col-sm-8">
            <label class="control-label col-xs-12 col-sm-4" style="color:#666">{$row.KP_AddUser}({$row.KP_AddTime})</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">最后编辑:</label>
        <div class="col-xs-12 col-sm-8">
            <label class="control-label col-xs-12 col-sm-4" style="color:#666">{$row.KP_EditUser}({$row.KP_EditTime})</label>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
