/*全局基础样式*/
*{ box-sizing:border-box; border:0; padding:0; margin:0; font-size:14px; color:#333; font-family:Microsoft YaHei;}
body{ background:#fff;}
a{ text-decoration:none;}
a:hover{ color:#ff6600;}
li{ list-style-type:none;}
img{ display:block;}
h1,h2,h3,h4,h5{ font-weight: normal;}
.clear{ clear:both;}
.width_1200{ width:1200px; margin:0 auto;}

/*导航*/
.head{ width: 1200px; margin: 0 auto;}
.head img{ float: left; margin-left: 33px;}
.head ul{ float: right; margin-right: 33px;}
.head li{ float: left;}
.head li a{ line-height: 50px; color: #666; font-size: 16px; margin-left: 30px;}
.head a:hover{ color: #D7903E; border-bottom: solid 1px #D7903E;}

/*正文*/
.center{ width: 100%; position: relative;}
.ad1{ background: url(../img/ad01.jpg) no-repeat center center; width: 100%; height: 460px;}
.ad2{ background: url(../img/ad02.jpg) no-repeat center center; width: 100%; height: 336px;}
.ad3{ background: url(../img/ad03.jpg) no-repeat center center; width: 100%; height: 577px;}
.ad4{ background: url(../img/ad04.jpg) no-repeat center center; width: 100%; height: 846px;}
.ad5{ background: url(../img/ad05.jpg) no-repeat center center; width: 100%; height: 963px;}
.ad6{ background: url(../img/ad06.jpg) no-repeat center center; width: 100%; height: 868px;}
.ad7{ background: url(../img/ad07.jpg) no-repeat center center; width: 100%; height: 746px;}
.ad8{ background: url(../img/ad08.jpg) no-repeat center center; width: 100%; height: 804px;}




/*返回顶部*/
.top{ position: fixed; left: 50%; bottom: 150px; display: none; margin-left: 650px;}
.top img{cursor:pointer;}


















