  
  <div class="oldhouse">
    <header class="bot_menu">
      <div class="hLeft"> <a href="javascript:window.history.back();" class="ico_back"></a> </div>
      <div class="hCenter"> <a href="contact.html"><span id="jqTitle">联系我们</span></a> </div>
      <script type="text/javascript" language="javascript">
                    $(function () {
                        var jqTitle = $("#jqTitle").text();
                        if (jqTitle == "[" + "title" + "]") {
                            $("#jqTitle").text("");
                        }
                    });
                </script>
      <div class="hIcon"> <a href="/navlist/2/" id="show_redrict"><i class="ico-nav"></i></a> </div>
    </header>
    <div class="content">
      <div class="wraper box"> 
        <!--联系我们：开始-->
        <div class="newsViewBox" style="background:#fff;margin-top:10px;">
          <div class="viewBody">
            <p> 海口鑫阅房房地产营销策划有限公司 </p>
            <p> 地址：海南省海口市琼山区龙昆南路55号春源购物广场4层 </p>
            <p> 联系电话：0898--65899610 </p>
            <p> 联系人：文先生 13876319520 </p>
          </div>
        </div>
        <!--联系我们：结束--> 
      </div>
    </div>
  </div>
  <div class="blank10"></div>
  <div class="bot_menu"> <a href="/">首页</a> <a href="/house/">新房</a> <a href="/news/">资讯</a> <a href="/tuangou/">团购</a> <a href="/news/10/">看房记</a> <a href="/news/3/">优惠信息</a> </div>
  