<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="tHead">
<link rel="canonical" href="/news/&quot;" />
<meta name="applicable-device" content="mobile" />
<meta name="applicable-device" content="mobile" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no, email=no" />
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="HandheldFriendly" content="true" />
<meta name="MobileOptimized" content="320" />
<meta name="screen-orientation" content="portrait" />
<meta name="x5-orientation" content="portrait" />
<meta name="full-screen" content="yes" />
<meta name="x5-fullscreen" content="true" />
<meta name="browsermode" content="application" />
<meta name="x5-page-mode" content="app" />
<meta name="msapplication-tap-highlight" content="no" />
<link href="/assets/css/mobile/main.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/mobile/hn.css" rel="stylesheet" type="text/css" />
<script src="/assets/js/frontend/mobile/jquery-1.7.2.min.js" type="text/javascript"></script>
<script src="/assets/js/frontend/mobile/Kaipie.js%3Fskin=aero" type="text/javascript"></script>
<script src="/assets/js/frontend/mobile/base.js" type="text/javascript"></script>
<title>看房记_海南房产资讯_阅房网</title>
<meta name="keywords" content="海南房产资讯,看房记" />
<meta name="description" content="海南房产资讯提供全面的房地产资讯内容,及时跟进与更新楼市行情,折扣热点,新盘速递,成交数据,楼盘工程进度等海南房产信息." />
<script type="text/javascript" language="javascript">
    var WWWURL = "/";
    var deviceHeight = $(window).height(); //浏览器当前窗口可视区域高度
    $(document).ready(function () {
        $("img").bind("error", function () {
            this.src = "/Images/errorpic.jpg";
        });
    });
</script>
<style type="text/css"></style>
</head>
<body class="new">
<form name="form1" method="post" action="/news/10/?id=10" id="form1">
 
  
  <!--头部开始-->
  <header class="bot_menu">
    <div class="hLeft"> <a href="javascript:window.history.back();" class="ico_back"></a> </div>
    <div class="hCenter"> <a href="index.html"><span id="jqTitle">看房记</span></a> </div>
    <script type="text/javascript">
            $(function () {
                var jqTitle = $("#jqTitle").text();
                if (jqTitle == "[" + "title" + "]") {
                    $("#jqTitle").text("");
                }
            });
        </script>
    <div class="hIcon"> <a href="/navlist/2/" id="show_redrict"><i class="ico-nav"></i></a> </div>
  </header>
  <!--头部结束-->
  <div style="height:42px;" class="h42"></div>
  <script type="text/javascript">
            $(function () {
                $("#show_redrict").click(function () {
                    $("#menu").toggle();
                });
            });
	    </script> 
  <!--头部开始-->
  <div class="box">
    <div class="wraper"> 
      <!--主页导航：开始-->
      <div class="VpageNav_zx"> <span  class="menuItem" ><a href="/news/">楼盘动态</a></span> <span  class="menuItem" ><a href="/news/3/">优惠信息</a></span> <span  class="menuItem active" ><a href="index.html">看房记</a></span> <span  class="menuItem" ><a href="/news/8/">风土人情</a></span> <span class="menuItem"><a href="/navlist/3/">更多&gt;&gt;</a></span> </div>
      <!--主页导航：结束-->
      <div class="wraper">
        <div class="newm mn2">
          <div class="news_list">
            <div> <a href="/news/29778.html" title="户型与环境俱佳 杜哥许姐选房最满意雅居乐云南原乡">
              <div class="picx"><img data-original="/assets/img/mobile/Min_201902151034558011.jpg" src="/assets/img/mobile/errorpic.jpg" width="100" height="70"/></div>
              <div class="txtx">
                <div class="t"> 户型与环境俱佳 杜哥许姐选房最满意雅居乐云南原乡 </div>
                <p>看房背景：有人问，文旅地产真的有投资价值吗？在如今海南全域限购的情况下，云南是否能代替海南<i class="remen">02-15</i></p>
              </div>
              </a> </div>
            <div class="clear"></div>
          </div>
          <div class="news_list">
            <div> <a href="/news/29777.html" title="想要置业云南 胡姐满意购得腾冲的小院子">
              <div class="picx"><img data-original="/assets/img/mobile/Min_201902141810508337.jpg" src="/assets/img/mobile/errorpic.jpg" width="100" height="70"/></div>
              <div class="txtx">
                <div class="t"> 想要置业云南 胡姐满意购得腾冲的小院子 </div>
                <p>本期看房故事的主人公是胡姐一家。早些时候，胡姐就有想要在南方买房的打算，一来是为了方便父母<i class="remen">02-14</i></p>
              </div>
              </a> </div>
            <div class="clear"></div>
          </div>
          <div class="news_list">
            <div> <a href="/news/29776.html" title="打算长期居住海南，李小姐成功置业陵水天赐南湾">
              <div class="picx"><img data-original="/assets/img/mobile/Min_201902141526070816.jpg" src="/assets/img/mobile/errorpic.jpg" width="100" height="70"/></div>
              <div class="txtx">
                <div class="t"> 打算长期居住海南，李小姐成功置业陵水天赐南湾 </div>
                <p>自从海南实施全域限购，许多购房者被关在了大门外。幸而，长期在海南工作的李小姐符合买房政策，<i class="remen">02-14</i></p>
              </div>
              </a> </div>
            <div class="clear"></div>
          </div>
          <div class="news_list">
            <div> <a href="/news/29775.html" title="本想看看风景，最终陈哥选择了雅居乐云南原乡">
              <div class="picx"><img data-original="/assets/img/mobile/Min_201902141048236282.jpg" src="/assets/img/mobile/errorpic.jpg" width="100" height="70"/></div>
              <div class="txtx">
                <div class="t"> 本想看看风景，最终陈哥选择了雅居乐云南原乡 </div>
                <p>看房背景：一直想拥有那种自由自在的生活，这几年真的太忙顾不上去。直到去年自己生了一场病之后<i class="remen">02-14</i></p>
              </div>
              </a> </div>
            <div class="clear"></div>
          </div>
          <div class="news_list">
            <div> <a href="/news/29761.html" title="肖大爷海南养老，再三比较后还是选择了雅居乐清水湾">
              <div class="picx"><img data-original="/assets/img/mobile/Min_201902131114218524.jpg" src="/assets/img/mobile/errorpic.jpg" width="100" height="70"/></div>
              <div class="txtx">
                <div class="t"> 肖大爷海南养老，再三比较后还是选择了雅居乐清水湾 </div>
                <p>看房背景：肖大爷和陈阿姨是北漂一族，他们在北京打拼了二十多年，如今老两口就要退休了，即将进<i class="remen">02-13</i></p>
              </div>
              </a> </div>
            <div class="clear"></div>
          </div>
          <div class="news_list">
            <div> <a href="/news/29742.html" title="兜兜转转拖了快一年 吴姐想要在三亚度假养老的愿望终于得以实现">
              <div class="picx"><img data-original="/assets/img/mobile/Min_201902111809024361.jpg" src="/assets/img/mobile/errorpic.jpg" width="100" height="70"/></div>
              <div class="txtx">
                <div class="t"> 兜兜转转拖了快一年 吴姐想要在三亚度假养老的愿望终于得以实现 </div>
                <p>2018年年初的时候，来自河北石家庄的客户吴姐，通过咱们公司的官方网站联系到了咱们公司的专<i class="remen">02-11</i></p>
              </div>
              </a> </div>
            <div class="clear"></div>
          </div>
          <div class="news_list">
            <div> <a href="/news/29725.html" title="老业主陈哥推荐买房，许姐一行成功置业清澜半岛">
              <div class="picx"><img data-original="/assets/img/mobile/Min_201902111017575005.jpg" src="/assets/img/mobile/errorpic.jpg" width="100" height="70"/></div>
              <div class="txtx">
                <div class="t"> 老业主陈哥推荐买房，许姐一行成功置业清澜半岛 </div>
                <p>看房背景：博鳌、海棠湾、亚龙湾、神州半岛、石梅湾、清水湾、香水湾……房子沿着海岸线一路铺开<i class="remen">02-11</i></p>
              </div>
              </a> </div>
            <div class="clear"></div>
          </div>
          <div class="news_list">
            <div> <a href="/news/29691.html" title="为呼吸新鲜空气，郑老先生到北海看房">
              <div class="picx"><img data-original="/assets/img/mobile/Min_201902011652234514.jpg" src="/assets/img/mobile/errorpic.jpg" width="100" height="70"/></div>
              <div class="txtx">
                <div class="t"> 为呼吸新鲜空气，郑老先生到北海看房 </div>
                <p>北海地处广西南部，是沿海城市。近两年来房子也越来越受人欢迎，尤其是养老房产。近年来，“候鸟<i class="remen">02-01</i></p>
              </div>
              </a> </div>
            <div class="clear"></div>
          </div>
          <div class="news_list">
            <div> <a href="/news/29675.html" title="海景户型合景月亮湾最终虏获徐先生的心">
              <div class="picx"><img data-original="/assets/img/mobile/Min_201902011045266437.jpg" src="/assets/img/mobile/errorpic.jpg" width="100" height="70"/></div>
              <div class="txtx">
                <div class="t"> 海景户型合景月亮湾最终虏获徐先生的心 </div>
                <p>买套海景房，定居海南岛。休闲、度假、养生的“第二家园”。每年冬季，海南都会迎来数十万名“候<i class="remen">02-01</i></p>
              </div>
              </a> </div>
            <div class="clear"></div>
          </div>
          <div class="news_list">
            <div> <a href="/news/29465.html" title="张哥说来海南买了房才知道生活多么的惬意">
              <div class="picx"><img data-original="/assets/img/mobile/Min_201901301146250612.jpg" src="/assets/img/mobile/errorpic.jpg" width="100" height="70"/></div>
              <div class="txtx">
                <div class="t"> 张哥说来海南买了房才知道生活多么的惬意 </div>
                <p>看房背景：前段时间，住在东北的一老铁问我在海南居住感觉如何，现在外地人还能在海南买房吗?自<i class="remen">01-30</i></p>
              </div>
              </a> </div>
            <div class="clear"></div>
          </div>
          <div class="news_list">
            <div> <a href="/news/29452.html" title="防城港的冬天太温暖 绿树成荫清净优雅的碧海紫金城正合孟总心意">
              <div class="picx"><img data-original="/assets/img/mobile/Min_201901281757024623.jpg" src="/assets/img/mobile/errorpic.jpg" width="100" height="70"/></div>
              <div class="txtx">
                <div class="t"> 防城港的冬天太温暖 绿树成荫清净优雅的碧海紫金城正合孟总心意 </div>
                <p>逃离一线城市的人群，主要流向了杭州、成都、厦门、苏州、桂林、防城港等地。防城港是全国14个<i class="remen">01-28</i></p>
              </div>
              </a> </div>
            <div class="clear"></div>
          </div>
          <div class="news_list">
            <div> <a href="/news/29433.html" title="定居防城港，周氏夫妇买得金花茶大道一套房">
              <div class="picx"><img data-original="/assets/img/mobile/Min_201901251746294165.jpg" src="/assets/img/mobile/errorpic.jpg" width="100" height="70"/></div>
              <div class="txtx">
                <div class="t"> 定居防城港，周氏夫妇买得金花茶大道一套房 </div>
                <p>看房背景：春节将至，经过一年的紧张工作，结束了年会、提交了总结、做好了规划，有些公司也提前<i class="remen">01-25</i></p>
              </div>
              </a> </div>
            <div class="clear"></div>
          </div>
          <div class="news_list">
            <div> <a href="/news/29422.html" title="卢小姐朱先生来三亚旅拍看房两不误">
              <div class="picx"><img data-original="/assets/img/mobile/Min_201901241646248267.jpg" src="/assets/img/mobile/errorpic.jpg" width="100" height="70"/></div>
              <div class="txtx">
                <div class="t"> 卢小姐朱先生来三亚旅拍看房两不误 </div>
                <p>看房背景：朱先生和卢小姐来自青海，此次前往三亚主要是婚纱照旅拍，为什么选择来三亚旅拍，因为<i class="remen">01-24</i></p>
              </div>
              </a> </div>
            <div class="clear"></div>
          </div>
          <div class="news_list">
            <div> <a href="/news/29420.html" title="苏姐心怀买房梦，小王助其购得如意房">
              <div class="picx"><img data-original="/assets/img/mobile/Min_201901241541121738.jpg" src="/assets/img/mobile/errorpic.jpg" width="100" height="70"/></div>
              <div class="txtx">
                <div class="t"> 苏姐心怀买房梦，小王助其购得如意房 </div>
                <p>看房背景：虽然现在全国楼市都在各种调控，房子的<i class="remen">01-24</i></p>
              </div>
              </a> </div>
            <div class="clear"></div>
          </div>
          <div class="news_list">
            <div> <a href="/news/29412.html" title="为长期度假作打算 许姐购入富力红树湾一套房">
              <div class="picx"><img data-original="/assets/img/mobile/Min_201901241105406267.jpg" src="/assets/img/mobile/errorpic.jpg" width="100" height="70"/></div>
              <div class="txtx">
                <div class="t"> 为长期度假作打算 许姐购入富力红树湾一套房 </div>
                <p>看房背景：每年北方大幅降温，而海南却阳光明媚，温暖如春。许姐趁着年假来海南度假，顺便想入手<i class="remen">01-24</i></p>
              </div>
              </a> </div>
            <div class="clear"></div>
          </div>
          <div class="news_list">
            <div> <a href="/news/29374.html" title="尘埃落定雅居乐金沙湾">
              <div class="picx"><img data-original="/assets/img/mobile/Min_201901191039118727.jpg" src="/assets/img/mobile/errorpic.jpg" width="100" height="70"/></div>
              <div class="txtx">
                <div class="t"> 尘埃落定雅居乐金沙湾 </div>
                <p>看房背景：一般现在结婚的三大必备条件无非就是房子，车子，票子。罗大哥说去年参加表哥婚礼的时<i class="remen">01-19</i></p>
              </div>
              </a> </div>
            <div class="clear"></div>
          </div>
          <div class="news_list">
            <div> <a href="/news/29360.html" title="蒋姐看中防城港的发展潜力 考察楼盘后选择置业瑞海尚都">
              <div class="picx"><img data-original="/assets/img/mobile/Min_201901181531263349.jpg" src="/assets/img/mobile/errorpic.jpg" width="100" height="70"/></div>
              <div class="txtx">
                <div class="t"> 蒋姐看中防城港的发展潜力 考察楼盘后选择置业瑞海尚都 </div>
                <p>如今提起防城港，许多人的脑海中浮现的是“北部湾”、“红树林”、“负氧离子丰富”等各种标签。<i class="remen">01-18</i></p>
              </div>
              </a> </div>
            <div class="clear"></div>
          </div>
          <div class="news_list">
            <div> <a href="/news/29362.html" title="与大学城为邻，刘先生购下第7街区一套小户型">
              <div class="picx"><img data-original="/assets/img/mobile/Min_201901181621291133.jpg" src="/assets/img/mobile/errorpic.jpg" width="100" height="70"/></div>
              <div class="txtx">
                <div class="t"> 与大学城为邻，刘先生购下第7街区一套小户型 </div>
                <p>铁路是重要的基础设施，同时也是一种大众化交通工具，在交通运输体系中占据重要作用。<i class="remen">01-18</i></p>
              </div>
              </a> </div>
            <div class="clear"></div>
          </div>
          <div class="news_list">
            <div> <a href="/news/29359.html" title="实地看房比网络宣传的还要美，文姐快速签下龙光阳光海岸">
              <div class="picx"><img data-original="/assets/img/mobile/Min_201901181446586368.jpg" src="/assets/img/mobile/errorpic.jpg" width="100" height="70"/></div>
              <div class="txtx">
                <div class="t"> 实地看房比网络宣传的还要美，文姐快速签下龙光阳光海岸 </div>
                <p>看房背景：在沟通中客户文姐告诉置业顾问小许，由于老家冬天太冷，空气环境也不理想，父母也上了<i class="remen">01-18</i></p>
              </div>
              </a> </div>
            <div class="clear"></div>
          </div>
          <div class="news_list">
            <div> <a href="/news/29346.html" title="追求舒适生活，王哥终选碧桂园珊瑚宫殿">
              <div class="picx"><img data-original="/assets/img/mobile/Min_201901161039436025.jpg" src="/assets/img/mobile/errorpic.jpg" width="100" height="70"/></div>
              <div class="txtx">
                <div class="t"> 追求舒适生活，王哥终选碧桂园珊瑚宫殿 </div>
                <p>看房背景：海南的房子这几年特别受欢迎，房源好的基本一房难求。自从去年开始限购保护房地产平稳<i class="remen">01-16</i></p>
              </div>
              </a> </div>
            <div class="clear"></div>
          </div>
          <div class="wf-page">
            <div id="AspNetPager1" class="pagination" align="left">
              <div class="pagination" align="right" style="font-size:12px;"> </div>
              <div align="left" class="pagination">
                <li><a disabled="disabled"><</a></li>
                <li><span class="active">1</span></li>
                <li><a href="/news/10/p2/">2</a></li>
                <li><a href="/news/10/p3/">3</a></li>
                <li><a href="/news/10/p4/">4</a></li>
                <li><a href="/news/10/p5/">5</a></li>
                <li><a href="/news/10/p2/">></a></li>
              </div>
            </div>
          </div>
          <script src="/assets/js/frontend/mobile/jquery.lazyload.js%3Fv=1.9.0" type="text/javascript"></script> 
          <script type="text/javascript" charset="utf-8">
                $(function () {
                $("img").lazyload({
                effect: "fadeIn"
                });
                });
                </script> 
        </div>
      </div>
    </div>
  </div>
  <div class="blank10"></div>
  <div class="bot_menu"> <a href="/">首页</a> <a href="/house/">新房</a> <a href="/news/">资讯</a> <a href="/tuangou/">团购</a> <a href="index.html">看房记</a> <a href="/news/3/">优惠信息</a> </div>
  <!--footer--> 
  <!--底部 开始-->
  <div class="footer"> <a href="/about.html">关于我们</a>| <a href="/banquan.html">版权声明</a>| <a href="/contact.html">联系我们</a>
    <p></p>
    <span>版权所有@阅房网 琼ICP备13002332号-1</span> </div>
  <br />
  <br />
  <div id="fixed">
    <div class="table">
      <div class="td"> <a href="tel:089865899610" class="red_btn bg_blue"><ins class="icon-18"></ins>免费通话</a> </div>
      <div class="td"> <a href="javascript:void(0);" class="red_btn bg_orange" id="lmbmBtn"><ins class="icon-23"></ins>预约看房</a> </div>
      <div class="lmbmBox sFix" id="lmbmBox">
        <div class="lmbmForm"> <a class="close" href="javascript:void(0);" onclick="hide()"></a>
          <h3>预约看房</h3>
          <span><ins class="icon-25"></ins>
          <input name="Yy_Name" id="Yy_Name" required type="text" class="itext" placeholder="请填写姓名/称呼" />
          </span> <span><ins class="icon-43"></ins>
          <input name="Yy_Pone" id="Yy_Phone" required type="text" class="itext" placeholder="请填写手机" />
          </span>
          <textarea class="itext" placeholder="其他备注或说明" name="Yy_Message" id="Yy_Message"></textarea>
          <p><a href="javascript:void(0);" class="btn blue" onclick="Yybm();return false;">提交报名</a></p>
        </div>
        <div class="fixMask"></div>
      </div>
      <div class="td"> <a href="javascript:void(0);" onclick="openZoosUrl('chatwin');" class="red_btn" id="group_sub"><ins class="icon-5"></ins>在线咨询</a> </div>
    </div>
  </div>
  <script type="text/javascript" language="javascript">
$(function () {
    //当滚动条的位置处于距顶部100像素以下时，跳转链接出现，否则消失
    $(function () {
        $(window).scroll(function () {
            if ($(window).scrollTop() > 1000) {
                $("#backtop").fadeIn(1500);
            }
            else {
                $("#backtop").fadeOut(1500);
            }
        });
        //当点击跳转链接后，回到页面顶部位置
        $("#backtop").click(function () {
            $('body,html').animate({ scrollTop: 0 }, 1000); //1000代表1秒时间回到顶点
            return false;
        });
    });
});
function hide() {
    document.getElementById("lmbmBox").style.display = 'none';
}
function Yybm() {
    var Yy_Name = $.trim($("#Yy_Name").val());
    var Yy_Phone = $.trim($("#Yy_Phone").val());
    var Yy_Message = $.trim($("#Yy_Message").val());
    if (Yy_Name == '') {
        kp.dialog.alert("请填写姓名/称呼");
        return false;
    }
    if (Yy_Phone == '' || !$.IsTelephone(Yy_Phone, 1)) {
        kp.dialog.alert("请输入正确的手机号码");
        return false;
    }

    kp.dialog.confirm('你确定要报名吗？', function () {
        $.post('/Yybaoming.aspx',
			    {
			        sType: 'Add',
			        Yy_Name: Yy_Name,
			        Yy_Phone: Yy_Phone,
			        Yy_Message: Yy_Message
			    },
			    function (data) {
			        if (data.info != 'Yes') {
			            kp.dialog.alert(data.info);
			            return false;
			        } else {
			            kp.dialog.tips('您已预约成功，我们会尽快联系您！请您等待！', 1.5);
			            setTimeout(function () {
			                kp.dialog.opener.window.location = kp.dialog.opener.window.location;
			                kp.dialog.close();
			            }, 1200);
			        }
			    }, "json").error(function () { kp.dialog.alert("数据加载失败，请检查后再操作！"); return false; });
    }, function () { });
}
</script> 
  <a id="backtop" style="position: fixed; height: 37px; width: 37px; right: 8px; bottom: 65px; z-index: 99; display:none; background: url(../../Images/backtop.png) 50% 50% / 37px 37px no-repeat;">&nbsp;</a> 
  <!--底部 结束-->
</form>
<!--商务通201709--> 
<script language="javascript" src="http://swt.0898yue.com/JS/LsJS.aspx?siteid=MLD43635825&float=1&lng=cn"></script> 
<!--离线宝--> 
<script>    var _hmt = _hmt || []; (function () { var hm = document.createElement("script"); hm.src = "https://hm.baidu.com/hm.js?8320cf5ea91dc597f833e64f86642787"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })(); </script> 
<script type="text/javascript" charset="utf-8" async src="../../../lxbjs.baidu.com/lxb.js%3Fsid=6315208"></script>
</body>
</html>