<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="tHead">
<link rel="canonical" href="index.html" />
<meta name="applicable-device" content="mobile" />
<meta name="applicable-device" content="mobile" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no, email=no" />
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="HandheldFriendly" content="true" />
<meta name="MobileOptimized" content="320" />
<meta name="screen-orientation" content="portrait" />
<meta name="x5-orientation" content="portrait" />
<meta name="full-screen" content="yes" />
<meta name="x5-fullscreen" content="true" />
<meta name="browsermode" content="application" />
<meta name="x5-page-mode" content="app" />
<meta name="msapplication-tap-highlight" content="no" />
<link href="/assets/css/mobile/main.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/mobile/hn.css" rel="stylesheet" type="text/css" />
<script src="/assets/js/frontend/mobile/jquery-1.7.2.min.js" type="text/javascript"></script>
<script src="/assets/js/frontend/mobile/Kaipie.js%3Fskin=aero" type="text/javascript"></script>
<script src="/assets/js/frontend/mobile/select.js" type="text/javascript"></script>
<script src="/assets/js/frontend/mobile/base.js" type="text/javascript"></script>
<title>往期团购_阅房网</title>
<meta name="keywords" content="往期团购" />
<meta name="description" content="往期团购" />
<script type="text/javascript" language="javascript">
    var WWWURL = "/";
    var deviceHeight = $(window).height(); //浏览器当前窗口可视区域高度
    $(document).ready(function () {
        $("img").bind("error", function () {
            this.src = "/images/errorpic.jpg";
        });
    });
</script>
<style type="text/css"></style>
</head>
<body>
<form name="form1" method="post" action="index.html" id="form1">
 
  <div class="oldhouse">
    <header class="bot_menu">
      <div class="hLeft"> <a href="javascript:window.history.back();" class="ico_back"></a> </div>
      <div class="hCenter"> <a href="index.html"><span id="jqTitle">往期团购</span></a> </div>
      <script type="text/javascript" language="javascript">
        $(function () {
            var jqTitle = $("#jqTitle").text();
            if (jqTitle == "[" + "title" + "]") {
                $("#jqTitle").text("");
            }
        });
    </script>
      <div class="hIcon"> <a href="/navlist/2/" id="show_redrict"><i class="ico-nav"></i></a> </div>
    </header>
    <div style="height:42px;" class="h42"></div>
    <!--主页导航：开始-->
    <div class="VpageNav"> <span class="menuItem"><a href="/tuangou/">最新团购</a></span> <span class="menuItem active"><a href="index.html">往期团购</a></span> </div>
    <!--主页导航：结束-->
    <div class="box">
      <div class="list-img"> <a href="/tuangou/33.html"><img data-original="/assets/img/mobile/Cen_201901141728410187.jpg" src="/assets/img/mobile/errorpic.jpg" alt="海南均价不过万的海景房——碧桂园金沙滩 这里有你所向往的滨海度假生活" style="display: inline;"></a>
        <ul>
          <li><a href="/tuangou/33.html"><span class="tg_bt">海南均价不过万的海景房——碧桂园金沙滩 这里有你所向往的滨海度假生活</span></a></li>
          <li><a href="/tuangou/33.html"><span class="tg_ms">特色别墅,养老居所,景观居所,海景地产,国际化社区</span></a></li>
          <li><a href="/tuangou/33.html">已有<span class="tg_rs">2</span>人报名</a><span class="tg_btn"><a href="/tuangou/33.html" class="btn green ">立即参加</a></span></li>
          <li><a href="/tuangou/33.html">距离报名结束还有<ins class="icon-36"></ins><i>已过期</i></a></li>
          <li><a href="/tuangou/33.html">原无折扣<b>一次性9.6折 分期9.7折 均价9500元</b></a></li>
          <li></li>
        </ul>
      </div>
      <div class="list-img"> <a href="/tuangou/9.html"><img data-original="/assets/img/mobile/Cen_201811031535277720.jpg" src="/assets/img/mobile/errorpic.jpg" alt="清凤海棠长滩团购别墅9折，高赠送率，高绿化率，户户皆可观海！" style="display: inline;"></a>
        <ul>
          <li><a href="/tuangou/9.html"><span class="tg_bt">清凤海棠长滩团购别墅9折，高赠送率，高绿化率，户户皆可观海！</span></a></li>
          <li><a href="/tuangou/9.html"><span class="tg_ms">口碑房源,豪宅,旅游地产,养老房,小户型</span></a></li>
          <li><a href="/tuangou/9.html">已有<span class="tg_rs">18</span>人报名</a><span class="tg_btn"><a href="/tuangou/9.html" class="btn green ">立即参加</a></span></li>
          <li><a href="/tuangou/9.html">距离报名结束还有<ins class="icon-36"></ins><i>已过期</i></a></li>
          <li><a href="/tuangou/9.html">原无折扣<b>团购9折</b></a></li>
          <li></li>
        </ul>
      </div>
      <div class="list-img"> <a href="/tuangou/34.html"><img data-original="/assets/img/mobile/Cen_201811031533396276.jpg" src="/assets/img/mobile/errorpic.jpg" alt="三亚恒大御府坐拥三大市区商圈，四大公园环绕" style="display: inline;"></a>
        <ul>
          <li><a href="/tuangou/34.html"><span class="tg_bt">三亚恒大御府坐拥三大市区商圈，四大公园环绕</span></a></li>
          <li><a href="/tuangou/34.html"><span class="tg_ms">投资房产,旅游地产,养老房,小户型</span></a></li>
          <li><a href="/tuangou/34.html">已有<span class="tg_rs">0</span>人报名</a><span class="tg_btn"><a href="/tuangou/34.html" class="btn green ">立即参加</a></span></li>
          <li><a href="/tuangou/34.html">距离报名结束还有<ins class="icon-36"></ins><i>已过期</i></a></li>
          <li><a href="/tuangou/34.html">原无折扣<b>团购洋房94折</b></a></li>
          <li></li>
        </ul>
      </div>
      <div class="list-img"> <a href="/tuangou/29.html"><img data-original="/assets/img/mobile/Cen_201806221616387870.jpg" src="/assets/img/mobile/errorpic.jpg" alt="园辉新都，一座承载北海新梦想的城区缔造新区财富的商业新领地。" style="display: inline;"></a>
        <ul>
          <li><a href="/tuangou/29.html"><span class="tg_bt">园辉新都，一座承载北海新梦想的城区缔造新区财富的商业新领地。</span></a></li>
          <li><a href="/tuangou/29.html"><span class="tg_ms">投资地产,公园地产,生态宜居,打折优惠</span></a></li>
          <li><a href="/tuangou/29.html">已有<span class="tg_rs">2</span>人报名</a><span class="tg_btn"><a href="/tuangou/29.html" class="btn green ">立即参加</a></span></li>
          <li><a href="/tuangou/29.html">距离报名结束还有<ins class="icon-36"></ins><i>已过期</i></a></li>
          <li><a href="/tuangou/29.html">原无折扣<b>北海园辉新都，团购价8000</b></a></li>
          <li></li>
        </ul>
      </div>
      <div class="list-img"> <a href="/tuangou/32.html"><img data-original="/assets/img/mobile/Cen_201810121605562248.jpg" src="/assets/img/mobile/errorpic.jpg" alt="龙光阳光海岸起售价格6000元起，将家“筑”于此，养老宜居，圆您坐岸观海的人生梦！" style="display: inline;"></a>
        <ul>
          <li><a href="/tuangou/32.html"><span class="tg_bt">龙光阳光海岸起售价格6000元起，将家“筑”于此，养老宜居，圆您坐岸观海的人生梦！</span></a></li>
          <li><a href="/tuangou/32.html"><span class="tg_ms">景观居所,海景地产,豪宅</span></a></li>
          <li><a href="/tuangou/32.html">已有<span class="tg_rs">0</span>人报名</a><span class="tg_btn"><a href="/tuangou/32.html" class="btn green ">立即参加</a></span></li>
          <li><a href="/tuangou/32.html">距离报名结束还有<ins class="icon-36"></ins><i>已过期</i></a></li>
          <li><a href="/tuangou/32.html">原无折扣<b>一次性9折  分期9.3折   按揭9.8折</b></a></li>
          <li></li>
        </ul>
      </div>
      <div class="list-img"> <a href="/tuangou/31.html"><img data-original="/assets/img/mobile/Cen_201810111013372230.jpg" src="/assets/img/mobile/errorpic.jpg" alt="锦江白鹭郡滨海湿地风景怡人养生度假之选 9600 团购98折" style="display: inline;"></a>
        <ul>
          <li><a href="/tuangou/31.html"><span class="tg_bt">锦江白鹭郡滨海湿地风景怡人养生度假之选 9600 团购98折</span></a></li>
          <li><a href="/tuangou/31.html"><span class="tg_ms">刚需房,养老地产,旅游地产,公园地产,教育地产</span></a></li>
          <li><a href="/tuangou/31.html">已有<span class="tg_rs">0</span>人报名</a><span class="tg_btn"><a href="/tuangou/31.html" class="btn green ">立即参加</a></span></li>
          <li><a href="/tuangou/31.html">距离报名结束还有<ins class="icon-36"></ins><i>已过期</i></a></li>
          <li><a href="/tuangou/31.html">原无折扣<b>团购98折</b></a></li>
          <li></li>
        </ul>
      </div>
      <div class="list-img"> <a href="/tuangou/23.html"><img data-original="/assets/img/mobile/Cen_201809171527286309.jpg" src="/assets/img/mobile/errorpic.jpg" alt="融创臻园国际旅游岛的秘密花园，团购一口价170/套起" style="display: inline;"></a>
        <ul>
          <li><a href="/tuangou/23.html"><span class="tg_bt">融创臻园国际旅游岛的秘密花园，团购一口价170/套起</span></a></li>
          <li><a href="/tuangou/23.html"><span class="tg_ms">花园洋房,住宅</span></a></li>
          <li><a href="/tuangou/23.html">已有<span class="tg_rs">0</span>人报名</a><span class="tg_btn"><a href="/tuangou/23.html" class="btn green ">立即参加</a></span></li>
          <li><a href="/tuangou/23.html">距离报名结束还有<ins class="icon-36"></ins><i>已过期</i></a></li>
          <li><a href="/tuangou/23.html">原无折扣<b>团购一口价170/套起</b></a></li>
          <li></li>
        </ul>
      </div>
      <div class="list-img"> <a href="/tuangou/24.html"><img data-original="/assets/img/mobile/Cen_201808151817193471.jpg" src="/assets/img/mobile/errorpic.jpg" alt="融创博鳌金湾倾心打造高品质滨海度假生活，坐拥2.2公里天然优质海岸线" style="display: inline;"></a>
        <ul>
          <li><a href="/tuangou/24.html"><span class="tg_bt">融创博鳌金湾倾心打造高品质滨海度假生活，坐拥2.2公里天然优质海岸线</span></a></li>
          <li><a href="/tuangou/24.html"><span class="tg_ms">海景地产,旅游地产,复合地产,配套高端</span></a></li>
          <li><a href="/tuangou/24.html">已有<span class="tg_rs">0</span>人报名</a><span class="tg_btn"><a href="/tuangou/24.html" class="btn green ">立即参加</a></span></li>
          <li><a href="/tuangou/24.html">距离报名结束还有<ins class="icon-36"></ins><i>已过期</i></a></li>
          <li><a href="/tuangou/24.html">原无折扣<b>洋房一次性96折，按揭98折</b></a></li>
          <li></li>
        </ul>
      </div>
      <div class="list-img"> <a href="/tuangou/28.html"><img data-original="/assets/img/mobile/Cen_201806211805443486.jpg" src="/assets/img/mobile/errorpic.jpg" alt="俊发玉龙湾邀你见湖，见山，见云南！" style="display: inline;"></a>
        <ul>
          <li><a href="/tuangou/28.html"><span class="tg_bt">俊发玉龙湾邀你见湖，见山，见云南！</span></a></li>
          <li><a href="/tuangou/28.html"><span class="tg_ms">公寓,别墅,高绿化</span></a></li>
          <li><a href="/tuangou/28.html">已有<span class="tg_rs">1</span>人报名</a><span class="tg_btn"><a href="/tuangou/28.html" class="btn green ">立即参加</a></span></li>
          <li><a href="/tuangou/28.html">距离报名结束还有<ins class="icon-36"></ins><i>已过期</i></a></li>
          <li><a href="/tuangou/28.html">原无折扣<b>俊发玉龙湾即将开盘，团购费交3.5万抵7万，一次性95折</b></a></li>
          <li></li>
        </ul>
      </div>
      <div class="list-img"> <a href="/tuangou/30.html"><img data-original="/assets/img/mobile/Cen_201807171611565883.jpg" src="/assets/img/mobile/errorpic.jpg" alt="世茂怒放海高层均价12000起，别墅均价18000起，让心灵平静回归自由，休闲度假生活的好地方。" style="display: inline;"></a>
        <ul>
          <li><a href="/tuangou/30.html"><span class="tg_bt">世茂怒放海高层均价12000起，别墅均价18000起，让心灵平静回归自由，休闲度假生活的好地方。</span></a></li>
          <li><a href="/tuangou/30.html"><span class="tg_ms">口碑房源,花园洋房,别墅,豪宅,海景房</span></a></li>
          <li><a href="/tuangou/30.html">已有<span class="tg_rs">1</span>人报名</a><span class="tg_btn"><a href="/tuangou/30.html" class="btn green ">立即参加</a></span></li>
          <li><a href="/tuangou/30.html">距离报名结束还有<ins class="icon-36"></ins><i>已过期</i></a></li>
          <li><a href="/tuangou/30.html">原无折扣<b>一次性付款，97折，分期付款99折</b></a></li>
          <li></li>
        </ul>
      </div>
      <div class="list-img"> <a href="/tuangou/25.html"><img data-original="/assets/img/mobile/Cen_201806210843529174.jpg" src="/assets/img/mobile/errorpic.jpg" alt="广东阳江碧桂园月亮湾团购公寓8300均价、别墅150万一套，四季滨海旅游度假大城旅居度假和投资皆可" style="display: inline;"></a>
        <ul>
          <li><a href="/tuangou/25.html"><span class="tg_bt">广东阳江碧桂园月亮湾团购公寓8300均价、别墅150万一套，四季滨海旅游度假大城旅居度假和投资皆可</span></a></li>
          <li><a href="/tuangou/25.html"><span class="tg_ms">小户型,品牌开发商,旅游地产,海景地产</span></a></li>
          <li><a href="/tuangou/25.html">已有<span class="tg_rs">3</span>人报名</a><span class="tg_btn"><a href="/tuangou/25.html" class="btn green ">立即参加</a></span></li>
          <li><a href="/tuangou/25.html">距离报名结束还有<ins class="icon-36"></ins><i>已过期</i></a></li>
          <li><a href="/tuangou/25.html">原无折扣<b>团购公寓8300均价、别墅在150万一套</b></a></li>
          <li></li>
        </ul>
      </div>
      <div class="list-img"> <a href="/tuangou/10.html"><img data-original="/assets/img/mobile/Cen_201803121728484005.jpg" src="/assets/img/mobile/errorpic.jpg" alt="融创日月湾团购享95折，赠送5000元/平精装修，即刻拎包入住定义你的海岛度假生活" style="display: inline;"></a>
        <ul>
          <li><a href="/tuangou/10.html"><span class="tg_bt">融创日月湾团购享95折，赠送5000元/平精装修，即刻拎包入住定义你的海岛度假生活</span></a></li>
          <li><a href="/tuangou/10.html"><span class="tg_ms">口碑房源,豪宅,旅游地产,养老房,小户型</span></a></li>
          <li><a href="/tuangou/10.html">已有<span class="tg_rs">16</span>人报名</a><span class="tg_btn"><a href="/tuangou/10.html" class="btn green ">立即参加</a></span></li>
          <li><a href="/tuangou/10.html">距离报名结束还有<ins class="icon-36"></ins><i>已过期</i></a></li>
          <li><a href="/tuangou/10.html">原无折扣<b>团购全款95折，按揭无折扣</b></a></li>
          <li></li>
        </ul>
      </div>
      <div class="list-img"> <a href="/tuangou/21.html"><img data-original="/assets/img/mobile/Cen_201803121728365553.jpg" src="/assets/img/mobile/errorpic.jpg" alt="石梅山庄团购享优惠9折含装修，2-6号楼在售！山海七境，集天地大美。" style="display: inline;"></a>
        <ul>
          <li><a href="/tuangou/21.html"><span class="tg_bt">石梅山庄团购享优惠9折含装修，2-6号楼在售！山海七境，集天地大美。</span></a></li>
          <li><a href="/tuangou/21.html"><span class="tg_ms">口碑房源,豪宅,旅游地产,养老房,小户型</span></a></li>
          <li><a href="/tuangou/21.html">已有<span class="tg_rs">1</span>人报名</a><span class="tg_btn"><a href="/tuangou/21.html" class="btn green ">立即参加</a></span></li>
          <li><a href="/tuangou/21.html">距离报名结束还有<ins class="icon-36"></ins><i>已过期</i></a></li>
          <li><a href="/tuangou/21.html">原无折扣<b>付全款可享9折优惠</b></a></li>
          <li></li>
        </ul>
      </div>
      <div class="list-img"> <a href="/tuangou/22.html"><img data-original="/assets/img/mobile/Cen_201804030912249136.jpg" src="/assets/img/mobile/errorpic.jpg" alt="半山半岛团购98折无按揭，三山两湾，滨海度假，高绿化率，精装修，即可拎包入住！" style="display: inline;"></a>
        <ul>
          <li><a href="/tuangou/22.html"><span class="tg_bt">半山半岛团购98折无按揭，三山两湾，滨海度假，高绿化率，精装修，即可拎包入住！</span></a></li>
          <li><a href="/tuangou/22.html"><span class="tg_ms">口碑房源,豪宅,旅游地产,养老房</span></a></li>
          <li><a href="/tuangou/22.html">已有<span class="tg_rs">1</span>人报名</a><span class="tg_btn"><a href="/tuangou/22.html" class="btn green ">立即参加</a></span></li>
          <li><a href="/tuangou/22.html">距离报名结束还有<ins class="icon-36"></ins><i>已过期</i></a></li>
          <li><a href="/tuangou/22.html">原无折扣<b>一次性全款98折</b></a></li>
          <li></li>
        </ul>
      </div>
      <div class="list-img"> <a href="/tuangou/20.html"><img data-original="/assets/img/mobile/Cen_201801111639082751.jpg" src="/assets/img/mobile/errorpic.jpg" alt="融创观澜湖公园壹号团购88折，盛大发售 ，醇熟臻生活" style="display: inline;"></a>
        <ul>
          <li><a href="/tuangou/20.html"><span class="tg_bt">融创观澜湖公园壹号团购88折，盛大发售 ，醇熟臻生活</span></a></li>
          <li><a href="/tuangou/20.html"><span class="tg_ms">高档小区,宜居生态,旅游地产</span></a></li>
          <li><a href="/tuangou/20.html">已有<span class="tg_rs">15</span>人报名</a><span class="tg_btn"><a href="/tuangou/20.html" class="btn green ">立即参加</a></span></li>
          <li><a href="/tuangou/20.html">距离报名结束还有<ins class="icon-36"></ins><i>已过期</i></a></li>
          <li><a href="/tuangou/20.html">原无折扣<b>融创观澜湖公园壹号团购一次性88折、分期9折、按揭92折</b></a></li>
          <li></li>
        </ul>
      </div>
      <div class="list-img"> <a href="/tuangou/5.html"><img data-original="/assets/img/mobile/Cen_201801111640183842.jpg" src="/assets/img/mobile/errorpic.jpg" alt="半岛阳光，20万/套起，团购93折！花园温泉洋房，鱼米之乡让你的时间慢下来，旺季抢购优惠多多" style="display: inline;"></a>
        <ul>
          <li><a href="/tuangou/5.html"><span class="tg_bt">半岛阳光，20万/套起，团购93折！花园温泉洋房，鱼米之乡让你的时间慢下来，旺季抢购优惠多多</span></a></li>
          <li><a href="/tuangou/5.html"><span class="tg_ms">养老居所,宜居生态,投资地产,小户型,宜居生态地产</span></a></li>
          <li><a href="/tuangou/5.html">已有<span class="tg_rs">37</span>人报名</a><span class="tg_btn"><a href="/tuangou/5.html" class="btn green ">立即参加</a></span></li>
          <li><a href="/tuangou/5.html">距离报名结束还有<ins class="icon-36"></ins><i>已过期</i></a></li>
          <li><a href="/tuangou/5.html">95折<b>93折</b></a></li>
          <li></li>
        </ul>
      </div>
      
      <!--翻页开始--> 
      
      <!--翻页结束--> 
      <script src="../../Scripts/jquery.lazyload.js%3Fv=1.9.0" type="text/javascript"></script> 
      <script type="text/javascript" charset="utf-8">
        $(function () {
            $("img").lazyload({
                effect: "fadeIn"
            });
        });
    </script> 
    </div>
    <div class="bot_menu"> <a href="/">首页</a> <a href="/house/">新房</a> <a href="/news/">资讯</a> <a href="/tuangou/">团购</a> <a href="/news/10/">看房记</a> <a href="/news/3/">优惠信息</a> </div>
  </div>
  <!--footer--> 
  <!--底部 开始-->
  <div class="footer"> <a href="/about.html">关于我们</a>| <a href="/banquan.html">版权声明</a>| <a href="/contact.html">联系我们</a>
    <p></p>
    <span>版权所有@阅房网 琼ICP备13002332号-1</span> </div>
  <br />
  <br />
  <div id="fixed">
    <div class="table">
      <div class="td"> <a href="tel:089865899610" class="red_btn bg_blue"><ins class="icon-18"></ins>免费通话</a> </div>
      <div class="td"> <a href="javascript:void(0);" class="red_btn bg_orange" id="lmbmBtn"><ins class="icon-23"></ins>预约看房</a> </div>
      <div class="lmbmBox sFix" id="lmbmBox">
        <div class="lmbmForm"> <a class="close" href="javascript:void(0);" onclick="hide()"></a>
          <h3>预约看房</h3>
          <span><ins class="icon-25"></ins>
          <input name="Yy_Name" id="Yy_Name" required type="text" class="itext" placeholder="请填写姓名/称呼" />
          </span> <span><ins class="icon-43"></ins>
          <input name="Yy_Pone" id="Yy_Phone" required type="text" class="itext" placeholder="请填写手机" />
          </span>
          <textarea class="itext" placeholder="其他备注或说明" name="Yy_Message" id="Yy_Message"></textarea>
          <p><a href="javascript:void(0);" class="btn blue" onclick="Yybm();return false;">提交报名</a></p>
        </div>
        <div class="fixMask"></div>
      </div>
      <div class="td"> <a href="javascript:void(0);" onclick="openZoosUrl('chatwin');" class="red_btn" id="group_sub"><ins class="icon-5"></ins>在线咨询</a> </div>
    </div>
  </div>
  <script type="text/javascript" language="javascript">
$(function () {
    //当滚动条的位置处于距顶部100像素以下时，跳转链接出现，否则消失
    $(function () {
        $(window).scroll(function () {
            if ($(window).scrollTop() > 1000) {
                $("#backtop").fadeIn(1500);
            }
            else {
                $("#backtop").fadeOut(1500);
            }
        });
        //当点击跳转链接后，回到页面顶部位置
        $("#backtop").click(function () {
            $('body,html').animate({ scrollTop: 0 }, 1000); //1000代表1秒时间回到顶点
            return false;
        });
    });
});
function hide() {
    document.getElementById("lmbmBox").style.display = 'none';
}
function Yybm() {
    var Yy_Name = $.trim($("#Yy_Name").val());
    var Yy_Phone = $.trim($("#Yy_Phone").val());
    var Yy_Message = $.trim($("#Yy_Message").val());
    if (Yy_Name == '') {
        kp.dialog.alert("请填写姓名/称呼");
        return false;
    }
    if (Yy_Phone == '' || !$.IsTelephone(Yy_Phone, 1)) {
        kp.dialog.alert("请输入正确的手机号码");
        return false;
    }

    kp.dialog.confirm('你确定要报名吗？', function () {
        $.post('/Yybaoming.aspx',
			    {
			        sType: 'Add',
			        Yy_Name: Yy_Name,
			        Yy_Phone: Yy_Phone,
			        Yy_Message: Yy_Message
			    },
			    function (data) {
			        if (data.info != 'Yes') {
			            kp.dialog.alert(data.info);
			            return false;
			        } else {
			            kp.dialog.tips('您已预约成功，我们会尽快联系您！请您等待！', 1.5);
			            setTimeout(function () {
			                kp.dialog.opener.window.location = kp.dialog.opener.window.location;
			                kp.dialog.close();
			            }, 1200);
			        }
			    }, "json").error(function () { kp.dialog.alert("数据加载失败，请检查后再操作！"); return false; });
    }, function () { });
}
</script> 
  <a id="backtop" style="position: fixed; height: 37px; width: 37px; right: 8px; bottom: 65px; z-index: 99; display:none; background: url(../../Images/backtop.png) 50% 50% / 37px 37px no-repeat;">&nbsp;</a> 
  <!--底部 结束-->
</form>
<!--商务通201709--> 
<script language="javascript" src="http://swt.0898yue.com/JS/LsJS.aspx?siteid=MLD43635825&float=1&lng=cn"></script> 
<!--离线宝--> 
<script>    var _hmt = _hmt || []; (function () { var hm = document.createElement("script"); hm.src = "https://hm.baidu.com/hm.js?8320cf5ea91dc597f833e64f86642787"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })(); </script> 
<script type="text/javascript" charset="utf-8" async src="../../../lxbjs.baidu.com/lxb.js%3Fsid=6315208"></script>
</body>
</html>