<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="tHead">
<link rel="canonical" href="/haozhai/&quot;" />
<meta name="applicable-device" content="mobile" />
<meta name="applicable-device" content="mobile" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no, email=no" />
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="HandheldFriendly" content="true" />
<meta name="MobileOptimized" content="320" />
<meta name="screen-orientation" content="portrait" />
<meta name="x5-orientation" content="portrait" />
<meta name="full-screen" content="yes" />
<meta name="x5-fullscreen" content="true" />
<meta name="browsermode" content="application" />
<meta name="x5-page-mode" content="app" />
<meta name="msapplication-tap-highlight" content="no" />
<link href="/assets/css/mobile/main.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/mobile/hn.css" rel="stylesheet" type="text/css" />
<script src="/assets/js/frontend/mobile/jquery-1.7.2.min.js" type="text/javascript"></script>
<script src="/assets/js/frontend/mobile/Kaipie.js%3Fskin=aero" type="text/javascript"></script>
<script src="/assets/js/frontend/mobile/touchslide.js" type="text/javascript"></script>
<script src="/assets/js/frontend/mobile/base.js" type="text/javascript"></script>
<title>推荐楼盘_阅房网</title>
<meta name="keywords" content="豪宅,毫宅专区,阅房网" />
<meta name="description" content="阅房网-房产网站|带您品味房产魅力" />
<script type="text/javascript" language="javascript">
    var WWWURL = "/";
    var deviceHeight = $(window).height(); //浏览器当前窗口可视区域高度
    $(document).ready(function () {
        $("img").bind("error", function () {
            this.src = "/images/errorpic.jpg";
        });
    });
</script>
<style type="text/css"></style>
</head>
<body class="new">
<form name="form1" method="post" action="index.html" id="form1">
  
  <!--头部开始-->
  <header class="bot_menu">
    <div class="hLeft"> <a href="javascript:window.history.back();" class="ico_back"></a> </div>
    <div class="hCenter"> <a href="index.html"><span id="jqTitle">推荐楼盘</span></a> </div>
    <script type="text/javascript">
            $(function () {
                var jqTitle = $("#jqTitle").text();
                if (jqTitle == "[" + "title" + "]") {
                    $("#jqTitle").text("");
                }
            });
        </script>
    <div class="hIcon"> <a href="/navlist/2/" id="show_redrict"><i class="ico-nav"></i></a> </div>
  </header>
  <!--头部结束-->
  <div style="height:42px;" class="h42"></div>
  <script type="text/javascript">
            $(function () {
                $("#show_redrict").click(function () {
                    $("#menu").toggle();
                });
            });
	    </script>
  <div class="box" style="margin-top:10px;">
    <div class="list-img"> <a href="/house/650.html"><img data-original="/assets/img/mobile/Cen_201812111130329982.jpg" src="/assets/img/mobile/errorpic.jpg" alt="融创美伦熙语" style="display: inline;" /></a>
      <div class="hz-box">
        <div class="hz-con">
          <h1>融创美伦熙语<span></span></h1>
          <p>融创·美伦熙语位于海南西岸，社区内将规划有业主食堂、咖啡吧、温泉泡池、泳池、业主活动场、健康跑道等配套。</p>
        </div>
        <div class="hz-user">
          <div class="hz-user-img"> <img data-original="/assets/img/mobile/Cen_201812170904218922.jpg" src="/assets/img/mobile/Cen_201812170904218922.jpg" alt="李曼" width="60px" height="60px"　　　　/> </div>
          <div class="hz-user-name">豪宅顾问：李曼</div>
          <div class="hz-user-year">房产经验：3年</div>
          <div class="hz-user-btn green btn"> <a href="tel:0898-28282890">点击咨询</a> </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="list-img"> <a href="/house/1724.html"><img data-original="/assets/img/mobile/Cen_201812111135418147.jpg" src="/assets/img/mobile/errorpic.jpg" alt="富力悦海湾" style="display: inline;" /></a>
      <div class="hz-box">
        <div class="hz-con">
          <h1>富力悦海湾<span></span></h1>
          <p>富力悦海湾位于临高县临澜湾。项目总占地面积为7800亩，一期（D-05区）占地面积880亩，总建筑面积310667.89平，容积率1.6，绿化率40%，高层住宅楼、10栋9层多层的住宅楼、临街商业及公</p>
        </div>
        <div class="hz-user">
          <div class="hz-user-img"> <img data-original="/assets/img/mobile/Cen_201812170903050768.jpg" src="/assets/img/mobile/Cen_201812170903050768.jpg" alt="杨春雯" width="60px" height="60px"　　　　/> </div>
          <div class="hz-user-name">豪宅顾问：杨春雯</div>
          <div class="hz-user-year">房产经验：5年</div>
          <div class="hz-user-btn green btn"> <a href="tel:0898-28284533">点击咨询</a> </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="list-img"> <a href="/house/3.html"><img data-original="/assets/img/mobile/Cen_201812111128239200.jpg" src="/assets/img/mobile/errorpic.jpg" alt="长岛蓝湾" style="display: inline;" /></a>
      <div class="hz-box">
        <div class="hz-con">
          <h1>长岛蓝湾<span></span></h1>
          <p>长岛蓝湾坐落于海南临高角滨海旅游度假区内，集度假养生、休闲娱乐、居住于一体，是一个温泉海景养生度假的项目。</p>
        </div>
        <div class="hz-user">
          <div class="hz-user-img"> <img data-original="/assets/img/mobile/Cen_201812170902040446.jpg" src="/assets/img/mobile/Cen_201812170902040446.jpg" alt="王妹英" width="60px" height="60px"　　　　/> </div>
          <div class="hz-user-name">豪宅顾问：王妹英</div>
          <div class="hz-user-year">房产经验：2年</div>
          <div class="hz-user-btn green btn"> <a href="tel:0898-28284533">点击咨询</a> </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="list-img"> <a href="/house/31.html"><img data-original="/assets/img/mobile/Cen_201812111145103015.jpg" src="/assets/img/mobile/errorpic.jpg" alt="富力红树湾" style="display: inline;" /></a>
      <div class="hz-box">
        <div class="hz-con">
          <h1>富力红树湾<span></span></h1>
          <p>富力红树湾周边拥享50公顷国家级红树林湿地公园，以及韵味独特的西班牙异域风情建筑，精心勾勒了8000亩，国际滨海双海湾红树林生态休闲大社区。红树林湿地公园有专属度假屋、游艇会、五星级酒店等国际化度假配</p>
        </div>
        <div class="hz-user">
          <div class="hz-user-img"> <img data-original="/assets/img/mobile/Cen_201812170900324401.jpg" src="/assets/img/mobile/Cen_201812170900324401.jpg" alt="李仙" width="60px" height="60px"　　　　/> </div>
          <div class="hz-user-name">豪宅顾问：李仙</div>
          <div class="hz-user-year">房产经验：6年</div>
          <div class="hz-user-btn green btn"> <a href="tel:0898-28282890">点击咨询</a> </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="list-img"> <a href="/house/837.html"><img data-original="/assets/img/mobile/Cen_201812111608181977.jpg" src="/assets/img/mobile/errorpic.jpg" alt="恒大御海天下" style="display: inline;" /></a>
      <div class="hz-box">
        <div class="hz-con">
          <h1>恒大御海天下<span></span></h1>
          <p>项目地处海南马袅湾滨海旅游区，项目占地面积约1665亩，建筑面积约122万㎡，1.37容积率，绿地率46% ；【瞰海高层】建筑面积约51-154㎡，方正格局，带入户花园、景观阳台，拥河景海景双重。【半</p>
        </div>
        <div class="hz-user">
          <div class="hz-user-img"> <img data-original="/assets/img/mobile/Cen_201703161042236473.jpg" src="/assets/img/mobile/Cen_201703161042236473.jpg" alt="陈浩刚" width="60px" height="60px"　　　　/> </div>
          <div class="hz-user-name">豪宅顾问：陈浩刚</div>
          <div class="hz-user-year">房产经验：2年</div>
          <div class="hz-user-btn green btn"> <a href="tel:0898-28284533">点击咨询</a> </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="list-img"> <a href="/house/681.html"><img data-original="/assets/img/mobile/Cen_201812111125477978.jpg" src="/assets/img/mobile/errorpic.jpg" alt="碧桂园金沙滩" style="display: inline;" /></a>
      <div class="hz-box">
        <div class="hz-con">
          <h1>碧桂园金沙滩<span></span></h1>
          <p>碧桂园金沙滩所在地属临高县辖区，占地面积463亩，容积率1.2，绿化率45%，项目位于海南岛西北部，北部湾之滨，与雷州半岛、越南隔海相望。</p>
        </div>
        <div class="hz-user">
          <div class="hz-user-img"> <img data-original="/assets/img/mobile/Cen_201708181203180652.jpg" src="/assets/img/mobile/Cen_201708181203180652.jpg" alt="沈欢迎" width="60px" height="60px"　　　　/> </div>
          <div class="hz-user-name">豪宅顾问：沈欢迎</div>
          <div class="hz-user-year">房产经验：2年</div>
          <div class="hz-user-btn green btn"> <a href="tel:0898-28284533">点击咨询</a> </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    
    <!--翻页开始--> 
    
    <!--翻页结束--> 
  </div>
  <script src="../Scripts/jquery.lazyload.js%3Fv=1.9.0" type="text/javascript"></script> 
  <script type="text/javascript" charset="utf-8">
            $(function () {
                $("img").lazyload({
                    effect: "fadeIn"
                });
            });
        </script>
  <div class="blank10"></div>
  <div class="bot_menu"> <a href="/">首页</a> <a href="/house/">新房</a> <a href="/news/">资讯</a> <a href="/tuangou/">团购</a> <a href="/news/10/">看房记</a> <a href="/news/3/">优惠信息</a> </div>
  <!--footer--> 
  <!--底部 开始-->
  <div class="footer"> <a href="/about.html">关于我们</a>| <a href="/banquan.html">版权声明</a>| <a href="/contact.html">联系我们</a>
    <p></p>
    <span>版权所有@阅房网 琼ICP备13002332号-1</span> </div>
  <br />
  <br />
  <div id="fixed">
    <div class="table">
      <div class="td"> <a href="tel:089865899610" class="red_btn bg_blue"><ins class="icon-18"></ins>免费通话</a> </div>
      <div class="td"> <a href="javascript:void(0);" class="red_btn bg_orange" id="lmbmBtn"><ins class="icon-23"></ins>预约看房</a> </div>
      <div class="lmbmBox sFix" id="lmbmBox">
        <div class="lmbmForm"> <a class="close" href="javascript:void(0);" onclick="hide()"></a>
          <h3>预约看房</h3>
          <span><ins class="icon-25"></ins>
          <input name="Yy_Name" id="Yy_Name" required type="text" class="itext" placeholder="请填写姓名/称呼" />
          </span> <span><ins class="icon-43"></ins>
          <input name="Yy_Pone" id="Yy_Phone" required type="text" class="itext" placeholder="请填写手机" />
          </span>
          <textarea class="itext" placeholder="其他备注或说明" name="Yy_Message" id="Yy_Message"></textarea>
          <p><a href="javascript:void(0);" class="btn blue" onclick="Yybm();return false;">提交报名</a></p>
        </div>
        <div class="fixMask"></div>
      </div>
      <div class="td"> <a href="javascript:void(0);" onclick="openZoosUrl('chatwin');" class="red_btn" id="group_sub"><ins class="icon-5"></ins>在线咨询</a> </div>
    </div>
  </div>
  <script type="text/javascript" language="javascript">
$(function () {
    //当滚动条的位置处于距顶部100像素以下时，跳转链接出现，否则消失
    $(function () {
        $(window).scroll(function () {
            if ($(window).scrollTop() > 1000) {
                $("#backtop").fadeIn(1500);
            }
            else {
                $("#backtop").fadeOut(1500);
            }
        });
        //当点击跳转链接后，回到页面顶部位置
        $("#backtop").click(function () {
            $('body,html').animate({ scrollTop: 0 }, 1000); //1000代表1秒时间回到顶点
            return false;
        });
    });
});
function hide() {
    document.getElementById("lmbmBox").style.display = 'none';
}
function Yybm() {
    var Yy_Name = $.trim($("#Yy_Name").val());
    var Yy_Phone = $.trim($("#Yy_Phone").val());
    var Yy_Message = $.trim($("#Yy_Message").val());
    if (Yy_Name == '') {
        kp.dialog.alert("请填写姓名/称呼");
        return false;
    }
    if (Yy_Phone == '' || !$.IsTelephone(Yy_Phone, 1)) {
        kp.dialog.alert("请输入正确的手机号码");
        return false;
    }

    kp.dialog.confirm('你确定要报名吗？', function () {
        $.post('/Yybaoming.aspx',
			    {
			        sType: 'Add',
			        Yy_Name: Yy_Name,
			        Yy_Phone: Yy_Phone,
			        Yy_Message: Yy_Message
			    },
			    function (data) {
			        if (data.info != 'Yes') {
			            kp.dialog.alert(data.info);
			            return false;
			        } else {
			            kp.dialog.tips('您已预约成功，我们会尽快联系您！请您等待！', 1.5);
			            setTimeout(function () {
			                kp.dialog.opener.window.location = kp.dialog.opener.window.location;
			                kp.dialog.close();
			            }, 1200);
			        }
			    }, "json").error(function () { kp.dialog.alert("数据加载失败，请检查后再操作！"); return false; });
    }, function () { });
}
</script> 
  <a id="backtop" style="position: fixed; height: 37px; width: 37px; right: 8px; bottom: 65px; z-index: 99; display:none; background: url(Images/backtop.png) 50% 50% / 37px 37px no-repeat;">&nbsp;</a> 
  <!--底部 结束-->
</form>
<!--商务通201709--> 
<script language="javascript" src="http://swt.0898yue.com/JS/LsJS.aspx?siteid=MLD43635825&float=1&lng=cn"></script> 
<!--离线宝--> 
<script>    var _hmt = _hmt || []; (function () { var hm = document.createElement("script"); hm.src = "https://hm.baidu.com/hm.js?8320cf5ea91dc597f833e64f86642787"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })(); </script> 
<script type="text/javascript" charset="utf-8" async src="../../lxbjs.baidu.com/lxb.js%3Fsid=6315208"></script>
</body>
</html>