<!--顶部固定-->
<div class="y_header">
  <div class="header_back"> <a href="javascript:history.back();"><img src="__CDN__/html/img/mobile/head-back.png"></a> </div>
  <div class="header_logo2"><a href=""></a></div>
  <div class="header_menu"><a></a></div>
</div>

<!-- 侧边栏 -->

<div class="y_sidebar">
  <div class="y_sidebarcent">
     <div class="y_sidebarcent_ul">
	  <ul>
		  <li><a href="/"><i><img src="__CDN__/html/img/mobile/nav_index.png" alt=""></i><span>首页</span></a></li>
		  <li><a href="/house"><i><img src="__CDN__/html/img/mobile/nav_house.png" alt=""></i><span>新房查询</span></a></li>
		  <li><a href="/news"><i><img src="__CDN__/html/img/mobile/nav_news.png" alt=""></i><span>新闻资讯</span></a></li>
		  <li><a href="/tuangou"><i><img src="__CDN__/html/img/mobile/nav_tejia.png" alt=""></i><span>特价好房</span></a></li>
		  <li><a href="/video"><i><img src="__CDN__/html/img/mobile/nav_video.png" alt=""></i><span>视频看房</span></a></li>
		  <li><a href="/map"><i><img src="__CDN__/html/img/mobile/nav_map.png" alt=""></i><span>地图找房</span></a></li>
	  </ul>
	  </div>
  </div>
  <div class="y_sidebar_bg"></div>
</div>