<!-- 公共meta -->
<meta charset="utf-8">
<meta http-equiv="Access-Control-Allow-Origin" content="*">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta content="yes" name="apple-touch-fullscreen"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{$Think.config.site.name}_特价好房|带您品味房产魅力</title>
<meta name="keywords" content="房产网,房产,阅房网,房地产" />
<meta name="description" content="阅房网-房产网站|带您品味房产魅力" />


<link rel="shortcut icon" href="__CDN__/assets/images/favicon.ico" type="image/x-icon" />
<link href="__CDN__/html/css/mobile/public.css" rel="stylesheet" type="text/css" />
<link href="__CDN__/html/css/mobile/layer.css" rel="stylesheet" type="text/css" />

<script src="__CDN__/html/js/mobile/auto.js" type="text/javascript"></script>
<script src="__CDN__/html/js/mobile/jquery-1.7.2.min.js" type="text/javascript"></script>
<script src="__CDN__/html/js/mobile/global.js" type="text/javascript"></script> 
 