<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Kp_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-KP_Name" class="form-control" name="row[KP_Name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Kp_logo')}:</label>
        <div class="col-xs-12 col-sm-6">
            <div class="input-group">
                <input id="c-KP_Logo" data-rule="required" class="form-control" size="50" name="row[KP_Logo]" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-KP_Logo" class="btn btn-danger plupload" data-input-id="c-KP_Logo" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-url="ajax/uploadnosy" data-multiple="false" data-preview-id="p-KP_Logo"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-KP_Logo" class="btn btn-primary fachoose" data-input-id="c-KP_Logo" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-KP_Logo"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-KP_Logo"></ul>
        </div>
        <label class="control-label" style="color:#888888;">大小：220 x 220</label>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Kp_brand')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-KP_Brand" data-source="housing/lp/selectpage"  data-multiple="true" class="form-control selectpage" name="row[KP_Brand]" type="text" value="" data-primary-key='id' data-field='KP_LpName' data-max-select-limit='6' data-searchField="{"custom[type]":"test"}" >
        </div>
    </div>

    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Kp_brand')}:</label>
        <div class="col-xs-12 col-sm-8" id="box">
            <div id="list"></div>
            <div class="btn btn-success btn-add" id="addbrand" style="width: 100%;">添加品牌</div>
        </div>
        <input id="KP_Brand" class="form-control" name="row[KP_Brand]" type="hidden">
    </div> -->

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">所属区域:</label>
        <div class="col-xs-12 col-sm-8">
            <div class='control-relative'><input id="c-KP_City" class="form-control" data-toggle="city-picker" type="text" value="">
            <input id="c-prov" class="form-control" name="row[KP_Provice]"  type="hidden">
                <input id="c-city" class="form-control" name="row[KP_Citys]" type="hidden">
                <input id="c-dist" class="form-control" name="row[KP_District]"  type="hidden">
                <input id="c-county" class="form-control" name="row[KP_County]" type="hidden">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">状态:</label>
        <div class="col-xs-12 col-sm-2">
            {:build_radios('row[KP_Status]', ['0'=>'隐藏', '1'=>'显示'], 1)}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Kp_adduser')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input disabled="" class="form-control" type="text" value="{$admin.nickname}({:date('Y-m-d H:i:s')})">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
