<link href="__CDN__/html/css/mobile/house.css" rel="stylesheet" type="text/css" />   
<script src="__CDN__/html/js/mobile/house.js" type="text/javascript"></script>   
<script type="text/javascript">
		$(function () {  //设置标题
			$(".header_logo2 a").html("项目参数").attr("href","javascript:void(0);");  
	 	})  
</script>  

    <!-- header -->
    <header class="favor-header-bar">
        <ul class="tabs">
            <li><a href="/house/house_details/ids/{$index["LpInfo"]["id"]}">首页</a></li>
			<li class="default"><a href="/house/lpdetail/ids/{$index["LpInfo"]["id"]}">详情</a></li>
			<li><a href="/house/lpdt/ids/{$index["LpInfo"]["id"]}">动态</a></li>
            <li><a href="/house/lpxc/ids/{$index["LpInfo"]["id"]}">相册</a></li>
            <li><a href="/house/lphx/ids/{$index["LpInfo"]["id"]}">户型</a></li>
            <li><a href="/house/lpdp/ids/{$index["LpInfo"]["id"]}">问答</a></li>
        </ul>
    </header>  
     <!--导航条--> 
 <div class="fix_bg">
        <div class="y_lpindexnav_main">
            <ul>
                <li><a href="/house/house_details/ids/{$index["LpInfo"]["id"]}"><span>楼盘首页</span><i></i></a></li>
                <li class="on"><a href="/house/lpdetail/ids/{$index["LpInfo"]["id"]}"><span>详情</span><i></i></a></li>     
                <li><a href="/house/lpdt/ids/{$index["LpInfo"]["id"]}"><span>动态</span><i></i></a></li>    
                <li><a href="/house/lpxc/ids/{$index["LpInfo"]["id"]}"><span>相册</span><i></i></a></li>
                <li><a href="/house/lphx/ids/{$index["LpInfo"]["id"]}"><span>户型</span><i></i></a></li>
                <li><a href="/house/lpdp/ids/{$index["LpInfo"]["id"]}"><span>点评</span><i></i></a></li>
            </ul>
        </div>
    </div>  
  <!-- [id] =&gt; 2202
                    [KP_LpName] =&gt; 坤龙漓江湾
                    [KP_Lppinyin] =&gt; Kunlonglijiangwan
                    [KP_Lppinyins] =&gt; Klljw
                    [KP_Provice] =&gt; 20
                    [KP_Citys] =&gt; 312
                    [KP_District] =&gt; 0
                    [KP_County] =&gt; 0
                    [KP_City] =&gt; 312
                    [KP_TsType] =&gt; 江景地产
                    [KP_Wylx] =&gt; 普通住宅
                    [KP_Jzlx] =&gt; 高层
                    [KP_Wjt] =&gt; /SubPublic/Upload/UploadFile/image/2018/12/29/Max_201812291641513329.jpg
                    [KP_AllViewUrl] =&gt; 
                    [KP_YpUrl] =&gt; 
                    [KP_KfID] =&gt; 10
                    [KP_Zxqk] =&gt; 毛坯
                    [KP_Wyf] =&gt; 
                    [KP_Kfs] =&gt; 桂林市鑫磊房地产开发有限公司
                    [KP_Ysxkz] =&gt; 
                    [KP_Cqnx] =&gt; 
                    [KP_Lpdz] =&gt; 桂林市象山区环城南二路一巷五号（净瓶山大桥西侧200米）
                    [KP_Sldz] =&gt; 桂林市象山区环城南二路一巷五号（净瓶山大桥西侧200米）
                    [KP_Tel] =&gt; 400-6885-919
                    [KP_Fjh] =&gt; 
                    [KP_KpTime] =&gt; 2018-05-31
                    [KP_RzTime] =&gt; 2019-12-31
                    [KP_Rjl] =&gt; 2.10   
                    [KP_Lhl] =&gt; 34.50%
                    [KP_Ghhs] =&gt; 384户
                    [KP_Xszt] =&gt; 0
                    [KP_Tj] =&gt; 0
                    [KP_Cs] =&gt; 395
                    [KP_Yynum] =&gt; 15
                    [KP_Jz] =&gt; 0
                    [KP_Top] =&gt; 0
                    [KP_Mapzb] =&gt; 110.319816,25.242408
                    [KP_Yhz] =&gt; 0
                    [KP_Parking] =&gt; 174个
                    [KP_TaoJia] =&gt; 
                    [KP_YouHui] =&gt; 
                    [KP_Zlhx] =&gt; 三居
                    [KP_Logo] =&gt; /SubPublic/Upload/UploadFile/image/2019/01/24/Max_201901240940514548.jpg
                    [KP_Wygs] =&gt; 
                    [KP_Gjlx] =&gt; 
                    [KP_Zds] =&gt; 
                    [KP_Gharea] =&gt; 24666平方米
                    [KP_Jzarea] =&gt; 51500平方米
                    [KP_Zycs] =&gt; 0
                    [KP_Jjlp] =&gt; 0
                    [KP_Gflm] =&gt; 1
                    [KP_Weigh] =&gt; 0
                    [KP_AddUser] =&gt; 苏春庚
                    [KP_AddTime] =&gt; 2018-07-23 11:10:20
                    [KP_EditUser] =&gt; 陆梅
                    [KP_EditTime] =&gt; 2018-07-23 11:10:20
                    [KP_Content] =&gt; 
                    [CNAME] =&gt; 桂林市
                    [QNAME] =&gt; 广西壮族自治区 桂林市  
                    [KP_Activity] =&gt; 坤龙漓江湾建筑面积130.47-139.03㎡三房两厅两卫江景房即将上市，一期为步梯房一梯一户和一梯两户户型。 -->
    <!--center-->
	<div class="w100">
		<div class="w94_2">
			 <div class="slide-box1"><span><p>基本信息</p></span>
                <div class="box1-text">
					<em>开发商：</em><strong>{$index['LpInfo']['KP_Kfs']}</strong><br>
					<em>项目特色：</em><strong>{$index['LpInfo']['KP_TsType']}</strong><br>
					<em>建筑类别：</em><strong>{$index['LpInfo']['KP_Jzlx']}</strong><br>
					<em>装修状况：</em><strong>{$index['LpInfo']['KP_Zxqk']}</strong><br>
					<em>产权年限：</em><strong>{$index['LpInfo']['KP_Cqnx']}</strong><br>
					<em>楼盘地址：</em><strong>{$index['LpInfo']['KP_Lpdz']}</strong><br>
				</div>
              </div>
		</div> 
	</div>   
    <div class="w100"> 
        <div class="w94_2"> 
			  <div class="slide-box1"><span><p>销售信息</p></span>
                <div class="box1-text">
					<em>销售状态：</em><strong>{$index["LpInfo"]["KP_Xszt"]==0?"在售":($index["LpInfo"]["KP_Xszt"]==1?"待售":"售罄")}</strong><br>
					<em>开盘时间：</em><strong>{$index['LpInfo']['KP_KpTime']}</strong><br>
					<em>交房时间：</em><strong>{$index['LpInfo']['KP_RzTime']}</strong><br>
					<em>咨询电话：</em><strong class="text-color">{$index['LpInfo']['KP_Tel']}</strong><br>
					<em>预售证号：</em><strong>{$index['LpInfo']['KP_Ysxkz']}</strong><br>
				</div>
              </div>
		</div>
	</div>
	<div class="w100">
		<div class="w94_2">  
			  <div class="slide-box1"><span><p>小区信息</p></span>
                <div class="box1-text">  
					<em>占地面积：</em><strong>{$index['LpInfo']['KP_Gharea']}</strong><br>
					<em>建筑面积：</em><strong>{$index['LpInfo']['KP_Jzarea']}</strong><br>
					<em>容积率：</em><strong>{$index['LpInfo']['KP_Rjl']}</strong><br>
					<em>绿化率：</em><strong>{$index['LpInfo']['KP_Lhl']}</strong><br>
					<em>停车位：</em><strong>{$index['LpInfo']['KP_Parking']}</strong><br>
					<em>总栋数：</em><strong>{$index['LpInfo']['KP_Zds']}</strong><br>
					<em>总户数：</em><strong>{$index['LpInfo']['KP_Ghhs']}</strong><br>
					<em>物业公司：</em><strong>{$index['LpInfo']['KP_Wygs']}</strong><br>
					<em>物业费：</em><strong>{$index['LpInfo']['KP_Wyf']}</strong><br>
				</div>
              </div>
		</div>
	</div>
	  <div class="w100">
		  <div class="w94_2">
			  <div class="slide-box1"><span><p>项目介绍</p></span>
                <div class="box1-text">
					<strong>{$index['xmjs']['KP_Lpnr']}</strong><br>
				</div>
              </div>
		</div>
	</div>
      <div class="w100_2">
            <div class="w94_2">
		      <div class="slide-box1"><span><p>小区信息</p></span>
                <div class="box1-text">
                	{$index['zbpt']['KP_Lpnr']}
					<!-- <em>学校：</em><strong>喜洋洋幼儿园(200米)、临高县第二中学(8.5公里)临高第二思源实验学校(6.9公里)</strong><br>
					<em>购物：</em><strong>蓝湾生鲜超市(400米)万客隆超市(悠澜湾二街)(6.33公里)家乐惠平价超市(7.2公里)</strong><br>
					<em>医疗：</em><strong>临高县人名医院(7.89公里)</strong><br>
					<em>银行：</em><strong>中国建设银行、中国工商银行、中国邮政储蓄银行、中国农业银行</strong><br>
					<em>娱乐：</em><strong>美丽汇KTV(9.67公里)纯色娱乐音乐吧(9.82公里)</strong><br>
					<em>餐饮：</em><strong>沙县小吃(2.1公里)</strong><br>
					<em>交通：</em><strong>业主巴士</strong><br> -->
				</div>
              </div>
		</div>
	</div>
 
