<link href="__CDN__/html/css/mobile/house.css" rel="stylesheet" type="text/css" />   
<script src="__CDN__/html/js/mobile/house.js" type="text/javascript"></script>   
<script type="text/javascript">
    $(function () {  //设置标题
      $(".header_logo2 a").html("项目户型").attr("href","javascript:void(0);");  
    })  
</script> 
 
    <!-- header -->
    <header class="favor-header-bar">
        <ul class="tabs">
            <li><a href="/house/house_details/ids/{$index["LpInfo"]["id"]}">首页</a></li>
            <li><a href="/house/lpdetail/ids/{$index["LpInfo"]["id"]}">详情</a></li>
            <li><a href="/house/lpdt/ids/{$index["LpInfo"]["id"]}">动态</a></li>
            <li><a href="/house/lpxc/ids/{$index["LpInfo"]["id"]}">相册</a></li>
            <li class="default"><a href="/house/lphx/ids/{$index["LpInfo"]["id"]}">户型</a></li>
            <li><a href="/house/lpdp/ids/{$index["LpInfo"]["id"]}">问答</a></li>
        </ul>
    </header>  
     <!--导航条--> 
 <div class="fix_bg">
        <div class="y_lpindexnav_main">
            <ul>
                <li><a href="/house/house_details/ids/{$index["LpInfo"]["id"]}"><span>楼盘首页</span><i></i></a></li>
                <li><a href="/house/lpdetail/ids/{$index["LpInfo"]["id"]}"><span>详情</span><i></i></a></li>     
                <li><a href="/house/lpdt/ids/{$index["LpInfo"]["id"]}"><span>动态</span><i></i></a></li>    
                <li><a href="/house/lpxc/ids/{$index["LpInfo"]["id"]}"><span>相册</span><i></i></a></li>
                <li class="on"><a href="/house/lphx/ids/{$index["LpInfo"]["id"]}"><span>户型</span><i></i></a></li>
                <li><a href="/house/lpdp/ids/{$index["LpInfo"]["id"]}"><span>点评</span><i></i></a></li>
            </ul>
        </div>
    </div>  
    
    
 
<!--内容开始-->
<div class="w100_2">
      <div class="w94_2"> 
    <!-- 二级导航 -->
    <div class="hx_two_nav find_nav">
          <div class="hx_two_gun">
        <div class="hx_nav_list">
              <ul>
            <li class="hx_nav_cur"><a data-id="999" href="javascript:;" class="on">全部</a></li> 
             
            {volist name="$index['Types']" id="vo"}
                <li class="hx_nav_cur"><a href="javascript:;" data-id="{$vo.KP_Type}">{$vo.name}</a></li>
            {/volist}
            
          </ul>
            </div>
      </div>
    </div>
    <ul class="layoutlist lightgallery">
         {volist name="$index['rows']" id="vo"}
           <li class="clearfix" id="layout_{$vo.KP_Type}_{$i}" data-src="{:str_replace('Min','Max',$vo.KP_PicUrl)}" data-sub-html="{$vo.KP_Hxbh}<br />{$vo.KP_Hx}&nbsp;&nbsp;建面{$vo.KP_Area}<br />">
              <div class="img-wrapper"> <img src="{$vo.KP_PicUrl}"> </div>
              <div class="frames-right">
                    <div class="frames-title">{$vo.KP_Hxbh}</div>
                    <div class="frames-info">{$vo.KP_Hx}&nbsp;&nbsp;建面{$vo.KP_Area}</div>
                    <div class="frames-price">{$vo.KP_Hxbh}</div>
              </div>
            </li>
           {/volist}
          
        </ul>
  </div>
    </div>
    
 
<script src="/html/js/mobile/first.js" type="text/javascript"></script> 
<!--相册查看器-->
<link href="/html/js/mobile/lightgallery.min.css" rel="stylesheet" type="text/css" />
<script src="/html/js/mobile/jquery.lazyload.min.js" type="text/javascript"></script>
<script src="/html/js/mobile/lightgallery.min.js" type="text/javascript"></script>
<script src="/html/js/mobile/lg-zoom.js" type="text/javascript"></script><!--放大器-->
 

<script type="text/javascript">

    $(document).ready(function () {
        //延迟加载
        $("img.lazy").lazyload({ effect: "fadeIn" });

        //切换显示
        $(".hx_nav_list li a").click(function () {
            var dataid = $(this).attr("data-id");
            if (dataid == "999") {
                $(".layoutlist li").show();
            } else {
                $(".layoutlist li").hide();
                $("[id^='layout_" + dataid + "_']").show();
            }
            $(".hx_nav_cur a").removeClass("on");
            $(this).addClass("on");
        });

        //图片详情
        $(".lightgallery").lightGallery({
            closable: false,
            download: false,
            share: false
        });

        //横向滚动
        var myScroll = new IScroll('.hx_two_gun', { scrollX: true, scrollY: false, mouseWheel: true, preventDefault: false });
    });
</script> 
 