 <link href="__CDN__/assets/css/index/css/News.css?v={$Think.config.site.version}" rel="stylesheet"> 
<!--私人定制开始-->
<div class="f_width_1200 MianModule">
    <div class="MianModule_Left">
    	<div class="need_body">
        	<div class="lpdg_bt"><span>填写您的购房方案</span></div>
            <div class="need_box">
            	<ul>
                	<li class="need_city">
                    	<p>意向城市<font>*</font></p>
                        <dl>
                            <dt><input type="checkbox" name="T_Yxcity" value="海口"><span>海口</span></dt>
                            <dt><input type="checkbox" name="T_Yxcity" value="三亚"><span>三亚</span></dt>
                            <dt><input type="checkbox" name="T_Yxcity" value="琼海"><span>琼海</span></dt>
                            <dt><input type="checkbox" name="T_Yxcity" value="文昌"><span>文昌</span></dt>
                            <dt><input type="checkbox" name="T_Yxcity" value="儋州"><span>儋州</span></dt>
                            <dt><input type="checkbox" name="T_Yxcity" value="澄迈"><span>澄迈</span></dt>
                            <dt><input type="checkbox" name="T_Yxcity" value="万宁"><span>万宁</span></dt>
                            <dt><input type="checkbox" name="T_Yxcity" value="陵水"><span>陵水</span></dt>
                            <dt><input type="checkbox" name="T_Yxcity" value="临高"><span>临高</span></dt>
                            <dt><input type="checkbox" name="T_Yxcity" value="定安"><span>定安</span></dt>
                            <dt><input type="checkbox" name="T_Yxcity" value="保亭"><span>保亭</span></dt>
                            <dt><input type="checkbox" name="T_Yxcity" value="五指山"><span>五指山</span></dt>
                            <dt><input type="checkbox" name="T_Yxcity" value="东方"><span>东方</span></dt>
                            <dt><input type="checkbox" name="T_Yxcity" value="琼中"><span>琼中</span></dt>
                            <dt><input type="checkbox" name="T_Yxcity" value="昌江"><span>昌江</span></dt>
                            <dt><input type="checkbox" name="T_Yxcity" value="白沙"><span>白沙</span></dt>
                            <dt><input type="checkbox" name="T_Yxcity" value="乐东"><span>乐东</span></dt>
                            <dt><input type="checkbox" name="T_Yxcity" value="屯昌"><span>屯昌</span></dt>
                        </dl>
                    </li>
                    <li class="need_type">
                    	<p>房屋类型<font>*</font></p>
                        <dl>
                            <dt><input type="checkbox" name="T_Fwlx" value="住宅"><span>住宅</span></dt>
                            <dt><input type="checkbox" name="T_Fwlx" value="养生社区"><span>养生社区</span></dt>
                            <dt><input type="checkbox" name="T_Fwlx" value="花园洋房"><span>花园洋房</span></dt>
                            <dt><input type="checkbox" name="T_Fwlx" value="海景房"><span>海景房</span></dt>
                            <dt><input type="checkbox" name="T_Fwlx" value="河(江)景房"><span>河(江)景房</span></dt>
                            <dt><input type="checkbox" name="T_Fwlx" value="温泉社区"><span>温泉社区</span></dt>
                            <dt><input type="checkbox" name="T_Fwlx" value="酒店式公寓"><span>酒店式公寓</span></dt>
                            <dt><input type="checkbox" name="T_Fwlx" value="商铺"><span>商铺</span></dt>
                            <dt><input type="checkbox" name="T_Fwlx" value="别墅"><span>别墅</span></dt>
                            <dt><input type="checkbox" name="T_Fwlx" value="公寓"><span>公寓</span></dt>
                            <dt><input type="checkbox" name="T_Fwlx" value="社区"><span>社区</span></dt>
                            <dt><input type="checkbox" name="T_Fwlx" value="学区房"><span>学区房</span></dt>
                            <dt><input type="checkbox" name="T_Fwlx" value="湖景房"><span>湖景房</span></dt>
                            <dt><input type="checkbox" name="T_Fwlx" value="写字楼"><span>写字楼</span></dt>
                        </dl>
                    </li>
                    <li class="need_house">
                    	<p>意向户型<font>*</font></p>
                        <dl>
                            <dt><input type="radio" name="T_Yxhx" value="一房户型"><span>一房户型</span></dt>
                            <dt><input type="radio" name="T_Yxhx" value="二房户型"><span>二房户型</span></dt>
                            <dt><input type="radio" name="T_Yxhx" value="三房户型"><span>三房户型</span></dt>
                            <dt><input type="radio" name="T_Yxhx" value="四房户型"><span>四房户型</span></dt>
                            <dt><input type="radio" name="T_Yxhx" value="五房户型"><span>五房户型</span></dt>
                            <dt><input type="radio" name="T_Yxhx" value="别墅"><span>别墅</span></dt>
                            <dt><input type="radio" name="T_Yxhx" value="其他"><span>其他</span></dt>
                        </dl>
                    </li>
                    <li class="need_house">
                    	<p>置业面积<font>*</font></p>
                        <dl>
                            <dt><input type="radio" name="T_Zyarea" value="50㎡以内"><span>50㎡以内</span></dt>
                            <dt><input type="radio" name="T_Zyarea" value="50-70㎡"><span>50-70㎡</span></dt>
                            <dt><input type="radio" name="T_Zyarea" value="70-100㎡"><span>70-100㎡</span></dt>
                            <dt><input type="radio" name="T_Zyarea" value="100-130㎡"><span>100-130㎡</span></dt>
                            <dt><input type="radio" name="T_Zyarea" value="130-160㎡"><span>130-160㎡</span></dt>
                            <dt><input type="radio" name="T_Zyarea" value="160-200㎡"><span>160-200㎡</span></dt>
                            <dt><input type="radio" name="T_Zyarea" value="200㎡以上"><span>200㎡以上</span></dt>
                        </dl>
                    </li>
                    <li>
                    	<p>预算价位<font>*</font></p>
                        <select name="T_Ysjw" id="T_Ysjw">
                        	<option value="0">预算总价</option>
                            <option value="30万以下">30万以下</option>
                            <option value="30-50万">30-50万</option>
                            <option value="50-80万">50-80万</option>
                            <option value="80-120万">80-120万</option>
                            <option value="120-160万">120-160万</option>
                            <option value="160-200万">160-200万</option>
                            <option value="200-300万">200-300万</option>
                            <option value="300万以上">300万以上</option>
                         </select>
                    </li>
                    <li class="need_house">
                    	<p>装修需求<font>*</font></p>
                        <dl>
                        <dt><input type="radio" name="T_Zxxq" value="毛坯" /><span>毛坯 </span></dt>
                        <dt><input type="radio" name="T_Zxxq" value="简单装修" /><span>简单装修</span></dt>
                        <dt><input type="radio" name="T_Zxxq" value="中档装修" /><span>中档装修</span></dt>
                        <dt><input type="radio" name="T_Zxxq" value="精装修" /><span>精装修</span></dt>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="need_add">
            	<p>附加需求</p>
                <textarea name="T_Fjxq" id="T_Fjxq"></textarea>
            </div>
            <div class="need_contact">
            	<p>联系方式</p>
                <label>您的姓名</label><input type="txt" name="T_Name" id="T_Name" class="need_name" placeholder="请输入您的姓名" onfocus="this.value=''" onblur="if(!value){value=defaultValue;}">
                <label>您的性别</label><input type="radio" name="T_Sex" value="男" class="need_sex" checked="checked">男<input type="radio" name="T_Sex" value="女" class="need_sex">女
                <label class="need_tel_label">联系电话</label><input type="txt" name="T_tel" id="T_Tel" class="need_name" placeholder="请输入联系电话" onfocus="this.value=''" onblur="if(!value){value=defaultValue;}">
            </div>
            <div class="clear"></div>
            <div class="need_submit"><input type="submit" value="提交您的定制需求" class="btn" onclick="Getperation();return false;" /></div>
        </div>
    </div>
    <div class="right_box">
    	<div class="need_tips">
        	<ul>
            	<li class="need_time"><p><img src="/Images/12_06.png">工作时间：</p><p>周一到周日24小时</p></li>
                <li><img src="/Images/12_03.jpg"></li>
                <li><img src="/Images/12_10.jpg"></li>
                <li class="need_tels"><p><img src="/Images/12_13.png">咨询热线</p><p>400-1668-200</p></li>
            </ul>
            <div class="need_tips_txt"><span>提交你的购房方案</span><p>我们的置业顾问会及时联系您</p><p>为您提供最佳的房产导购服务</p></div>
        </div>
        <div class="need_commit">
        	<div class="record_bt"><span>提交购房需求</span></div>
            <ul>
                <asp:Repeater ID="ReadBmList" runat="server">
                <ItemTemplate>
                <li><span class="need_commit_area"><%#GetCity(DataBinder.Eval(Container.DataItem, "KP_Yxcity").ToString())%></span><span class="need_commit_name"><%#DataBinder.Eval(Container.DataItem, "KP_Name")%></span><span class="need_commit_yes"><%#HidePhone(DataBinder.Eval(Container.DataItem, "KP_Tel").ToString())%></span></li>
                </ItemTemplate>
                </asp:Repeater>
           </ul>
        </div>
    </div>
    <div class="clear"></div>
</div>
<!--私人定制结束-->