<div style="height:42px;" class="h42"></div>
    <div class="iv_main">
    <br />
    <center>
    	
    <iframe src="{$index['content']['KP_VideoUrl']}" width="280" height="210" frameborder="0" scrolling="no" allowfullscreen="true" allowtransparency="true"></iframe>
    </center>

       <br />
          <h1 class="iv_Name">{$index["content"]['KP_Title']}</h1>
          <div class="iv_info">发布时间：{$index['content']['KP_AddTime']} &nbsp;&nbsp;播放:{$index['content']['KP_Cs']}次</div>
 
    
</div>
  
 
