<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="tHead">
<link rel="canonical" href="/news/&quot;" />
<meta name="applicable-device" content="mobile" />
<meta name="applicable-device" content="mobile" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no, email=no" />
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="HandheldFriendly" content="true" />
<meta name="MobileOptimized" content="320" />
<meta name="screen-orientation" content="portrait" />
<meta name="x5-orientation" content="portrait" />
<meta name="full-screen" content="yes" />
<meta name="x5-fullscreen" content="true" />
<meta name="browsermode" content="application" />
<meta name="x5-page-mode" content="app" />
<meta name="msapplication-tap-highlight" content="no" />
<link href="/assets/css/mobile/main.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/mobile/hn.css" rel="stylesheet" type="text/css" />
<script src="/assets/js/frontend/mobile/jquery-1.7.2.min.js" type="text/javascript"></script>
<script src="/assets/js/frontend/mobile/Kaipie.js%3Fskin=aero" type="text/javascript"></script>
<script src="/assets/js/frontend/mobile/base.js" type="text/javascript"></script>
<title>折扣优惠_海南房产网_阅房网</title>
<meta name="keywords" content="海南房产资讯,折扣优惠" />
<meta name="description" content="海南房产资讯提供全面的房地产资讯内容,及时跟进与更新楼市行情,折扣热点,新盘速递,成交数据,楼盘工程进度等海南房产信息." />
<script type="text/javascript" language="javascript">
    var WWWURL = "/";
    var deviceHeight = $(window).height(); //浏览器当前窗口可视区域高度
    $(document).ready(function () {
        $("img").bind("error", function () {
            this.src = "/images/errorpic.jpg";
        });
    });
</script>
<style type="text/css"></style>
</head>
<body class="new">
<form name="form1" method="post" action="/news/3/?id=3" id="form1">
  
  
  <!--头部开始-->
  <header class="bot_menu">
    <div class="hLeft"> <a href="javascript:window.history.back();" class="ico_back"></a> </div>
    <div class="hCenter"> <a href="index.html"><span id="jqTitle">折扣优惠</span></a> </div>
    <script type="text/javascript">
            $(function () {
                var jqTitle = $("#jqTitle").text();
                if (jqTitle == "[" + "title" + "]") {
                    $("#jqTitle").text("");
                }
            });
        </script>
    <div class="hIcon"> <a href="/navlist/2/" id="show_redrict"><i class="ico-nav"></i></a> </div>
  </header>
  <!--头部结束-->
  <div style="height:42px;" class="h42"></div>
  <script type="text/javascript">
            $(function () {
                $("#show_redrict").click(function () {
                    $("#menu").toggle();
                });
            });
	    </script> 
  <!--头部开始-->
  <div class="box">
    <div class="wraper"> 
      <!--主页导航：开始-->
      <div class="VpageNav_zx"> <span  class="menuItem" ><a href="/news/">楼盘动态</a></span> <span  class="menuItem active" ><a href="index.html">优惠信息</a></span> <span  class="menuItem" ><a href="/news/10/">看房记</a></span> <span  class="menuItem" ><a href="/news/8/">风土人情</a></span> <span class="menuItem"><a href="/navlist/3/">更多&gt;&gt;</a></span> </div>
      <!--主页导航：结束-->
      <div class="wraper">
        <div class="newm mn2">
          <div class="news_list">
            <div> <a href="/news/29371.html" title="恒大御海天下特价房总价约68万元/套起带精装">
              <div class="picx"><img data-original="/assets/img/mobile/Min_201901181733373254.jpg" src="/assets/img/mobile/errorpic.jpg" width="100" height="70"/></div>
              <div class="txtx">
                <div class="t"> 恒大御海天下特价房总价约68万元/套起带精装 </div>
                <p>恒大御海天下项目现推出限量特价房，总价约68万元/套起。<i class="remen">01-31</i></p>
              </div>
              </a> </div>
            <div class="clear"></div>
          </div>
          <div class="news_list">
            <div> <a href="/news/28820.html" title="三亚陵水东和福湾房源在售 均价约58000元/㎡">
              <div class="picx"><img data-original="/assets/img/mobile/Min_201812191137019780.jpg" src="/assets/img/mobile/errorpic.jpg" width="100" height="70"/></div>
              <div class="txtx">
                <div class="t"> 三亚陵水东和福湾房源在售 均价约58000元/㎡ </div>
                <p>项目现1号楼、3号楼主力户型61-110㎡海景公寓，现房、装修交房，拎包入住。<i class="remen">12-19</i></p>
              </div>
              </a> </div>
            <div class="clear"></div>
          </div>
          <div class="news_list">
            <div> <a href="/news/27546.html" title="官塘学院小镇在售 均价18000元/平">
              <div class="picx"><img data-original="/assets/img/mobile/Min_201812011738292303.jpg" src="/assets/img/mobile/errorpic.jpg" width="100" height="70"/></div>
              <div class="txtx">
                <div class="t"> 官塘学院小镇在售 均价18000元/平 </div>
                <p>期房在售，均价18000元/平，带4000元/平装修，全款86折。<i class="remen">12-01</i></p>
              </div>
              </a> </div>
            <div class="clear"></div>
          </div>
          <div class="news_list">
            <div> <a href="/news/26772.html" title="中安·止泊园项目四期4栋楼已动工在建">
              <div class="picx"><img data-original="/assets/img/mobile/Min_201811211555543474.jpg" src="/assets/img/mobile/errorpic.jpg" width="100" height="70"/></div>
              <div class="txtx">
                <div class="t"> 中安·止泊园项目四期4栋楼已动工在建 </div>
                <p>项目均价为6800元/平（带装修），现购房可享98折优惠。<i class="remen">11-21</i></p>
              </div>
              </a> </div>
            <div class="clear"></div>
          </div>
          <div class="news_list">
            <div> <a href="/news/26612.html" title="陵水融创钻石海岸均价35000元/㎡全款享95折优惠">
              <div class="picx"><img data-original="/assets/img/mobile/Min_201811200945519797.jpg" src="/assets/img/mobile/errorpic.jpg" width="100" height="70"/></div>
              <div class="txtx">
                <div class="t"> 陵水融创钻石海岸均价35000元/㎡全款享95折优惠 </div>
                <p>目前亲海公寓建面138-168平米3房在售，均价35000元/㎡。<i class="remen">11-20</i></p>
              </div>
              </a> </div>
            <div class="clear"></div>
          </div>
          <div class="news_list">
            <div> <a href="/news/26430.html" title="海棠湾银海房源在售 总价约3200万/套起">
              <div class="picx"><img data-original="/assets/img/mobile/Min_201811161130184734.jpg" src="/assets/img/mobile/errorpic.jpg" width="100" height="70"/></div>
              <div class="txtx">
                <div class="t"> 海棠湾银海房源在售 总价约3200万/套起 </div>
                <p>目前独栋别墅在售，在售户型建筑面积有302-678㎡3-5居室。<i class="remen">11-16</i></p>
              </div>
              </a> </div>
            <div class="clear"></div>
          </div>
          <div class="news_list">
            <div> <a href="/news/26281.html" title="玛御谷温泉小镇在售洋房 合院均价约10000~30000元/平">
              <div class="picx"><img data-original="/assets/img/mobile/Min_201811141131158287.jpg" src="/assets/img/mobile/errorpic.jpg" width="100" height="70"/></div>
              <div class="txtx">
                <div class="t"> 玛御谷温泉小镇在售洋房 合院均价约10000~30000元/平 </div>
                <p>项目房源在售，洋房户型建面有55~110平米，合院户型建面有109-177平米。<i class="remen">11-14</i></p>
              </div>
              </a> </div>
            <div class="clear"></div>
          </div>
          <div class="news_list">
            <div> <a href="/news/26266.html" title="宝峰合院在售洋房均价约10000元/㎡">
              <div class="picx"><img data-original="/assets/img/mobile/Min_201811141028551919.jpg" src="/assets/img/mobile/errorpic.jpg" width="100" height="70"/></div>
              <div class="txtx">
                <div class="t"> 宝峰合院在售洋房均价约10000元/㎡ </div>
                <p>项目房源在售，洋房户型建面有60~170平米，合院户型建面80~140平米。<i class="remen">11-14</i></p>
              </div>
              </a> </div>
            <div class="clear"></div>
          </div>
          <div class="news_list">
            <div> <a href="/news/26149.html" title="海南澄迈福隆丽水湾均价17500元/平 在售楼栋有D1#、D4#">
              <div class="picx"><img data-original="/assets/img/mobile/Min_201811121759165219.jpg" src="/assets/img/mobile/errorpic.jpg" width="100" height="70"/></div>
              <div class="txtx">
                <div class="t"> 海南澄迈福隆丽水湾均价17500元/平 在售楼栋有D1#、D4# </div>
                <p>项目期房在售中，均价17500元/平，在售楼栋有D1#、D4#。<i class="remen">11-12</i></p>
              </div>
              </a> </div>
            <div class="clear"></div>
          </div>
          <div class="news_list">
            <div> <a href="/news/25993.html" title="三亚清凤海棠长滩均价50000元/㎡起全款享98折优惠">
              <div class="picx"><img data-original="/assets/img/mobile/Min_201811091644499294.jpg" src="/assets/img/mobile/errorpic.jpg" width="100" height="70"/></div>
              <div class="txtx">
                <div class="t"> 三亚清凤海棠长滩均价50000元/㎡起全款享98折优惠 </div>
                <p>项目目前建面68-99㎡海景公寓户型热销中。<i class="remen">11-09</i></p>
              </div>
              </a> </div>
            <div class="clear"></div>
          </div>
          <div class="news_list">
            <div> <a href="/news/25966.html" title="三亚陵水东和福湾均价约58000元/㎡ 全款享96折优惠">
              <div class="picx"><img data-original="/assets/img/mobile/Min_201811091146318246.jpg" src="/assets/img/mobile/errorpic.jpg" width="100" height="70"/></div>
              <div class="txtx">
                <div class="t"> 三亚陵水东和福湾均价约58000元/㎡ 全款享96折优惠 </div>
                <p>项目现1号楼、3号楼主力户型61-110㎡海景公寓，现房、装修交房，拎包入住。<i class="remen">11-09</i></p>
              </div>
              </a> </div>
            <div class="clear"></div>
          </div>
          <div class="news_list">
            <div> <a href="/news/25916.html" title="海南三亚泽华上东海岸主推建面69-74平 均价约40000元/平">
              <div class="picx"><img data-original="/assets/img/mobile/Min_201811081737371697.jpg" src="/assets/img/mobile/errorpic.jpg" width="100" height="70"/></div>
              <div class="txtx">
                <div class="t"> 海南三亚泽华上东海岸主推建面69-74平 均价约40000元/平 </div>
                <p>项目5号楼房源在售，均价约40000~45000元/平，主推建面69-74平两房户型。<i class="remen">11-08</i></p>
              </div>
              </a> </div>
            <div class="clear"></div>
          </div>
          <div class="news_list">
            <div> <a href="/news/25911.html" title="三亚蘭园推出的户型为101-168㎡  均价约35800元/平">
              <div class="picx"><img data-original="/assets/img/mobile/Min_201811081721237309.jpg" src="/assets/img/mobile/errorpic.jpg" width="100" height="70"/></div>
              <div class="txtx">
                <div class="t"> 三亚蘭园推出的户型为101-168㎡  均价约35800元/平 </div>
                <p>目前5#楼精品高档住宅在售中，建面101平-168平户型热销中，均价约35800元/平。<i class="remen">11-08</i></p>
              </div>
              </a> </div>
            <div class="clear"></div>
          </div>
          <div class="news_list">
            <div> <a href="/news/27552.html" title="官塘学院小镇期房在售 全款86折">
              <div class="picx"><img data-original="/assets/img/mobile/Min_201812011722433563.jpg" src="/assets/img/mobile/errorpic.jpg" width="100" height="70"/></div>
              <div class="txtx">
                <div class="t"> 官塘学院小镇期房在售 全款86折 </div>
                <p>目前为官塘首府地块的11#、15#栋楼在售，均价18000元/平，带4000元/平装修。<i class="remen">10-26</i></p>
              </div>
              </a> </div>
            <div class="clear"></div>
          </div>
          <div class="news_list">
            <div> <a href="/news/25309.html" title="版纳印象推出10套优惠房源 均价约8688-9688元/平">
              <div class="picx"><img data-original="/assets/img/mobile/Min_201810221747283732.jpg" src="/assets/img/mobile/errorpic.jpg" width="100" height="70"/></div>
              <div class="txtx">
                <div class="t"> 版纳印象推出10套优惠房源 均价约8688-9688元/平 </div>
                <p>均价约8688-9688元/平<i class="remen">10-22</i></p>
              </div>
              </a> </div>
            <div class="clear"></div>
          </div>
          <div class="news_list">
            <div> <a href="/news/27554.html" title="官塘学院小镇期房在售 全款95折">
              <div class="picx"><img data-original="/assets/img/mobile/Min_201812011720427058.jpg" src="/assets/img/mobile/errorpic.jpg" width="100" height="70"/></div>
              <div class="txtx">
                <div class="t"> 官塘学院小镇期房在售 全款95折 </div>
                <p>期房销售中，销售楼栋有官塘首府11#、15#，销售户型建筑面积为100平。<i class="remen">10-19</i></p>
              </div>
              </a> </div>
            <div class="clear"></div>
          </div>
          <div class="news_list">
            <div> <a href="/news/24491.html" title="香水国色住宅在售 全款98折">
              <div class="picx"><img data-original="/assets/img/mobile/Min_201809201002138355.jpg" src="/assets/img/mobile/errorpic.jpg" width="100" height="70"/></div>
              <div class="txtx">
                <div class="t"> 香水国色住宅在售 全款98折 </div>
                <p>项目目前有住宅在售，部分为现房。<i class="remen">09-20</i></p>
              </div>
              </a> </div>
            <div class="clear"></div>
          </div>
          <div class="news_list">
            <div> <a href="/news/24346.html" title="北海恒大雅苑7字头海湾海景房现89折优惠">
              <div class="picx"><img data-original="/assets/img/mobile/Min_201809190954391320.jpg" src="/assets/img/mobile/errorpic.jpg" width="100" height="70"/></div>
              <div class="txtx">
                <div class="t"> 北海恒大雅苑7字头海湾海景房现89折优惠 </div>
                <p>主推户型为建面约102㎡三室两厅两卫。<i class="remen">09-19</i></p>
              </div>
              </a> </div>
            <div class="clear"></div>
          </div>
          <div class="news_list">
            <div> <a href="/news/24739.html" title="海阳城均价23000元/平">
              <div class="picx"><img data-original="/assets/img/mobile/Min_201809211703358461.jpg" src="/assets/img/mobile/errorpic.jpg" width="100" height="70"/></div>
              <div class="txtx">
                <div class="t"> 海阳城均价23000元/平 </div>
                <p>建面57平、75平户型在售，均价23000元/平，全款96折。<i class="remen">09-17</i></p>
              </div>
              </a> </div>
            <div class="clear"></div>
          </div>
          <div class="news_list">
            <div> <a href="/news/24679.html" title="长岛蓝湾均价18000元/平">
              <div class="picx"><img data-original="/assets/img/mobile/Min_201809211110000888.jpg" src="/assets/img/mobile/errorpic.jpg" width="100" height="70"/></div>
              <div class="txtx">
                <div class="t"> 长岛蓝湾均价18000元/平 </div>
                <p>在售户型约为44.37-78.99平，均价18000元/平。<i class="remen">09-17</i></p>
              </div>
              </a> </div>
            <div class="clear"></div>
          </div>
          <div class="wf-page">
            <div id="AspNetPager1" class="pagination" align="left">
              <div class="pagination" align="right" style="font-size:12px;"> </div>
              <div align="left" class="pagination">
                <li><a disabled="disabled"><</a></li>
                <li><span class="active">1</span></li>
                <li><a href="/news/3/p2/">2</a></li>
                <li><a href="/news/3/p3/">3</a></li>
                <li><a href="/news/3/p4/">4</a></li>
                <li><a href="/news/3/p5/">5</a></li>
                <li><a href="/news/3/p6/">...</a></li>
                <li><a href="/news/3/p2/">></a></li>
              </div>
            </div>
          </div>
          <script src="../../Scripts/jquery.lazyload.js%3Fv=1.9.0" type="text/javascript"></script> 
          <script type="text/javascript" charset="utf-8">
                $(function () {
                $("img").lazyload({
                effect: "fadeIn"
                });
                });
                </script> 
        </div>
      </div>
    </div>
  </div>
  <div class="blank10"></div>
  <div class="bot_menu"> <a href="/">首页</a> <a href="/house/">新房</a> <a href="/news/">资讯</a> <a href="/tuangou/">团购</a> <a href="/news/10/">看房记</a> <a href="index.html">优惠信息</a> </div>
  <!--footer--> 
  <!--底部 开始-->
  <div class="footer"> <a href="/about.html">关于我们</a>| <a href="/banquan.html">版权声明</a>| <a href="/contact.html">联系我们</a>
    <p></p>
    <span>版权所有@阅房网 琼ICP备13002332号-1</span> </div>
  <br />
  <br />
  <div id="fixed">
    <div class="table">
      <div class="td"> <a href="tel:089865899610" class="red_btn bg_blue"><ins class="icon-18"></ins>免费通话</a> </div>
      <div class="td"> <a href="javascript:void(0);" class="red_btn bg_orange" id="lmbmBtn"><ins class="icon-23"></ins>预约看房</a> </div>
      <div class="lmbmBox sFix" id="lmbmBox">
        <div class="lmbmForm"> <a class="close" href="javascript:void(0);" onclick="hide()"></a>
          <h3>预约看房</h3>
          <span><ins class="icon-25"></ins>
          <input name="Yy_Name" id="Yy_Name" required type="text" class="itext" placeholder="请填写姓名/称呼" />
          </span> <span><ins class="icon-43"></ins>
          <input name="Yy_Pone" id="Yy_Phone" required type="text" class="itext" placeholder="请填写手机" />
          </span>
          <textarea class="itext" placeholder="其他备注或说明" name="Yy_Message" id="Yy_Message"></textarea>
          <p><a href="javascript:void(0);" class="btn blue" onclick="Yybm();return false;">提交报名</a></p>
        </div>
        <div class="fixMask"></div>
      </div>
      <div class="td"> <a href="javascript:void(0);" onclick="openZoosUrl('chatwin');" class="red_btn" id="group_sub"><ins class="icon-5"></ins>在线咨询</a> </div>
    </div>
  </div>
  <script type="text/javascript" language="javascript">
$(function () {
    //当滚动条的位置处于距顶部100像素以下时，跳转链接出现，否则消失
    $(function () {
        $(window).scroll(function () {
            if ($(window).scrollTop() > 1000) {
                $("#backtop").fadeIn(1500);
            }
            else {
                $("#backtop").fadeOut(1500);
            }
        });
        //当点击跳转链接后，回到页面顶部位置
        $("#backtop").click(function () {
            $('body,html').animate({ scrollTop: 0 }, 1000); //1000代表1秒时间回到顶点
            return false;
        });
    });
});
function hide() {
    document.getElementById("lmbmBox").style.display = 'none';
}
function Yybm() {
    var Yy_Name = $.trim($("#Yy_Name").val());
    var Yy_Phone = $.trim($("#Yy_Phone").val());
    var Yy_Message = $.trim($("#Yy_Message").val());
    if (Yy_Name == '') {
        kp.dialog.alert("请填写姓名/称呼");
        return false;
    }
    if (Yy_Phone == '' || !$.IsTelephone(Yy_Phone, 1)) {
        kp.dialog.alert("请输入正确的手机号码");
        return false;
    }

    kp.dialog.confirm('你确定要报名吗？', function () {
        $.post('/Yybaoming.aspx',
			    {
			        sType: 'Add',
			        Yy_Name: Yy_Name,
			        Yy_Phone: Yy_Phone,
			        Yy_Message: Yy_Message
			    },
			    function (data) {
			        if (data.info != 'Yes') {
			            kp.dialog.alert(data.info);
			            return false;
			        } else {
			            kp.dialog.tips('您已预约成功，我们会尽快联系您！请您等待！', 1.5);
			            setTimeout(function () {
			                kp.dialog.opener.window.location = kp.dialog.opener.window.location;
			                kp.dialog.close();
			            }, 1200);
			        }
			    }, "json").error(function () { kp.dialog.alert("数据加载失败，请检查后再操作！"); return false; });
    }, function () { });
}
</script> 
  <a id="backtop" style="position: fixed; height: 37px; width: 37px; right: 8px; bottom: 65px; z-index: 99; display:none; background: url(../../Images/backtop.png) 50% 50% / 37px 37px no-repeat;">&nbsp;</a> 
  <!--底部 结束-->
</form>
<!--商务通201709--> 
<script language="javascript" src="http://swt.0898yue.com/JS/LsJS.aspx?siteid=MLD43635825&float=1&lng=cn"></script> 
<!--离线宝--> 
<script>    var _hmt = _hmt || []; (function () { var hm = document.createElement("script"); hm.src = "https://hm.baidu.com/hm.js?8320cf5ea91dc597f833e64f86642787"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })(); </script> 
<script type="text/javascript" charset="utf-8" async src="../../../lxbjs.baidu.com/lxb.js%3Fsid=6315208"></script>
</body>
</html>