 <link href="__CDN__/assets/css/index/video.css?v={$site.version}" rel="Stylesheet" type="text/css" />

<!--面包屑-->
<div class="mianbao">您的位置：<span>首页</span> > <span>房产专题</span></div>

<!--正文-->
	<div class="zhuan">
		<ul>
			<li><div><a href="" target="_blank"><img src="/html/images/zuan.jpg"></a></div></li>
			<li><div><a href="" target="_blank"><img src="/html/images/zuan2.jpg"></a></div></li>
			<li><div><a href="" target="_blank"><img src="/html/images/zuan3.jpg"></a></div></li>
			<li><div><a href="" target="_blank"><img src="/html/images/zuan4.jpg"></a></div></li>
			<li><div><a href="" target="_blank"><img src="/html/images/zuan5.jpg"></a></div></li>
			<li><div><a href="" target="_blank"><img src="/html/images/zuan6.jpg"></a></div></li>
			<li><div><a href="" target="_blank"><img src="/html/images/zuan7.jpg"></a></div></li>
			<li><div><a href="" target="_blank"><img src="/html/images/zuan8.jpg"></a></div></li>
			<li><div><a href="" target="_blank"><img src="/html/images/zuan9.jpg"></a></div></li>
			<li><div><a href="" target="_blank"><img src="/html/images/zuan10.jpg"></a></div></li>
		</ul>
	</div>

 
