<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Kp_info')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-KP_Info" class="form-control " rows="5" name="row[KP_Info]" cols="50"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Kp_adduser')}:</label>
        <div class="col-xs-12 col-sm-8">
            <label class="control-label ">{$admin.nickname}({:date('Y-m-d H:i:s')})</label>
        </div>
    </div>
    
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
