
/*报名看房*/
.Bieshu_BmCont{ width:100%; height:80px; background: #a57d5a; position: fixed; left: 0; bottom: 0;}
.Bieshu_Bm{}
.Bieshu_Bm_Left{ background:url(../Images/bieshu-logo.png)no-repeat; background-position:80px 20px;}
.Bieshu_Bm_Mid{ background:url(../Images/lishi.png)no-repeat; background-size:600px auto; background-position:10px 80px;}
.Bieshu_Bm_Right{ width:1000px; margin: 0 auto; position: relative;}

.Bieshu_Bm_Left .MaxText{ font-size:28px; font-weight:bold; color:#fff;}
.Bieshu_Bm_Left .MinText{ font-size:16px; color:#666;}
.Bieshu_Bm_Left .Btn{ margin-top:22px;}
.Bieshu_Bm_Left .Btn a{ background:#fff; border:1px solid #6bb600; color:#6bb600; font-size:16px; border-radius:10px;}
.Bieshu_Bm_Left .Btn a:hover{ background:#6bb600; color:#fff; border:1px solid #5fa101;}

.Bieshu_Bm_Right input{ outline:none; padding-left:10px;}
.Bieshu_Bm_Right .Name{ width: 228px; height: 48px; float: left;}
.Bieshu_Bm_Right .Name input{ width:190px; height:40px; border:1px solid #f1f1f1;}
.Bieshu_Bm_Right .Phone{ width: 228px; height: 48px; float: left;}
.Bieshu_Bm_Right .Phone input{ width:190px; height:40px; border:1px solid #f1f1f1;}
.Bieshu_Bm_Right .Btn{ width: 148px; height: 48px; float: left;}
.Bieshu_Bm_Right .Btn a{ display:block; height:100%; height:40px; text-align:center; line-height:40px; background:#ffa42f; color:#a01212; font-size:16px; font-weight: bold;}
.Bieshu_Bm_Right .Btn a:hover{ background:#ffb24e;}

.Bieshu_Bm_Right h1{ float: right; color: #fff; font-size: 20px; line-height: 80px; letter-spacing:2px; margin-top: -22px;}
